{% set current_page = 'installment-purchase' %} 
{% extends "layout/_layout.html" %} 
{% block page-container %}
<div class="banner"></div>
<main class="installment_purchase">
	<div class="container">
		<ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);" title>dienmaythienhoa.vn</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);" title>Mua hàng trả góp</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);" title>Gói trả góp</a></li>
        </ol>
        <section class="content">
			<div class="header-content">
				<h2 class="title">Hỗ trợ khách hàng</h2>
				<div class="pull-right">
					<span>08h-22h, Thứ 2 - Chủ nhật</span>
					<sapn class="color">19001829 (Nhấn phím 1)</sapn>
				</div>
			</div>
			<div class="top-table">
				<div class="left">
					<h3 class="title-table">Mua trả góp tiêu dùng</h3>
					<a href="javascript:void(0);">Chính sách</a>
					<a href="javascript:void(0);">Câu hỏi thường gặp</a>
				</div>
				<div class="pull-right">
					<div class="text text-right">
						<h3 class="name-product">SMART TIVI SAMSUNG 49 INCH UA49M5500 AKXXV LED</h3>
						<p><b>13.900.000đ</b></p>
					</div>
					<div class="wrap-img">
						<img src="assets/images/product-right.png" alt="">
					</div>
				</div>
			</div>
			<div class="table table-purchase">
				<ul class="list-information">
					<li class="title-top">
						<div class="col-md-3 no-padding text-left"><span>Gói trả góp</span></div>
						<div class="col-md-5 no-padding-right text-center"><span>Trả góp 0%</span></div>
						<div class="col-md-4 no-padding-right text-center"><span>Trả góp lãi suất thấp</span></div>
					</li>
					<li class="list-item">
						<div class="col-md-3 no-padding"><p>Ngân hàng/ Công ty</p></div>
						<div class="col-md-5 no-padding-right">
							<div class="wrap-radio">
								<input type="radio" name="zero" id="bank1" checked> <label for="bank1">HSBC</label>
							</div>
							<div class="wrap-radio">
								<input type="radio" name="zero" id="bank2"> <label for="bank2">Sacombank</label>
							</div>
							<div class="wrap-radio">
								<input type="radio" name="zero" id="bank3"> <label for="bank3">Techcombank</label>
							</div>
							<div class="wrap-radio">
								<input type="radio" name="zero" id="bank4"> <label for="bank4">ANZ</label>
							</div>
							<div class="wrap-radio">
								<input type="radio" name="zero" id="bank5"> <label for="bank5">Shinhanbank</label>
							</div>
							<div class="wrap-radio">
								<input type="radio" name="zero" id="bank6"> <label for="bank6">Citybank</label>
							</div>
						</div>
						<div class="col-md-4 no-padding-right">
							<div class="wrap-radio">
								<input type="radio" name="lower" id="bank7" checked> <label for="bank7">Home Credit</label>
							</div>
							<div class="wrap-radio">
								<input type="radio" name="lower" id="bank8"> <label for="bank8">FE Credit</label>
							</div>
							<div class="wrap-radio">
								<input type="radio" name="lower" id="bank7"> <label for="bank7">HD Sai Gon</label>
							</div>
						</div>
					</li>
					<li class="list-item">
						<div class="col-md-3 no-padding"><p>Trả trước</p></div>
						<div class="col-md-5 no-padding-right">
							<div class="wrap-select">
								<select name="" id="" class="form-control">
									<option value="">30%</option>
									<option value="">40%</option>
									<option value="">50%</option>
								</select>
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</div>
							<span>Tương đương: <b class="blue">4.170.000đ</b></span>
						</div>
						<div class="col-md-4 no-padding-right">
							<div class="wrap-select">
								<select name="" id="" class="form-control">
									<option value="">30%</option>
									<option value="">40%</option>
									<option value="">50%</option>
								</select>
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</div>
							<span>Tương đương: <b class="blue">4.170.000đ</b></span>
						</div>
					</li>
					<li class="list-item">
						<div class="col-md-3 no-padding"><p>Thời gian trả góp</p></div>
						<div class="col-md-5 no-padding-right">
							<div class="wrap-select">
								<select name="" id="" class="form-control">
									<option value="">6 tháng</option>
									<option value="">9 tháng</option>
									<option value="">12 tháng</option>
								</select>
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</div>
							<span>Tương đương: <b class="blue">1.622.000đ/tháng</b></span>
						</div>
						<div class="col-md-4 no-padding-right">
							<div class="wrap-select">
								<select name="" id="" class="form-control">
									<option value="">6 tháng</option>
									<option value="">9 tháng</option>
									<option value="">12 tháng</option>
								</select>
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</div>
							<span>Tương đương: <b class="blue">1.622.000đ/tháng</b></span>
						</div>
					</li>
					<li class="list-item">
						<div class="col-md-3 no-padding"><p>Tổng tiền phải thanh toán</p> <span class="note">(Sau khi hoàn thành trả góp)</span></div>
						<div class="col-md-5 no-padding-right">
							<b class="color">13.900.000 VNĐ</b>
						</div>
						<div class="col-md-4 no-padding-right">
							<b class="color">14.442.000 VNĐ</b>
						</div>
					</li>
					<li class="list-item">
						<div class="col-md-3 no-padding"><p>Chênh lệch với giá bán</p> <span class="note">(Thanh toán 100% ngay khi mua hàng)</span></div>
						<div class="col-md-5 no-padding-right">
							<b class="color">0 VNĐ</b>
						</div>
						<div class="col-md-4 no-padding-right">
							<b class="color">452.000 VNĐ</b>
						</div>
					</li>
					<li class="list-item item-documnent">
						<div class="col-md-3 no-padding"><p>Giấy tờ cần có </p></div>
						<div class="col-md-5 no-padding-right">
							<b>CMND + Bằng lái xe ++</b>
						</div>
						<div class="col-md-4 no-padding-right">
							<b>CMND + Bằng lái xe ++</b>
						</div>
					</li>
					<li class="list-item item-btn">
						<div class="col-md-3 no-padding"></div>
						<div class="col-md-5 no-padding-right">
							<a href="installment-purchase-detail.html" class="btn btn-second">Chọn gói trả góp này</a>
						</div>
						<div class="col-md-4 no-padding-right">
							<a href="installment-purchase-detail.html" class="btn btn-purchase">Chọn gói trả góp này</a>
						</div>
					</li>
				</ul>
			</div>
		</section>		
        <!-- start block banner bootom-->
        <section class="block-banner-bottom">
            <div class="row">
                <div class="col-md-5 padding1"><a href="javascript:void(0);" title="" target="_blank"><img src="assets/images/banner/banner-bottom.jpg" alt="" class="img-responsive"></a></div>
                <div class="col-md-7 padding2"><a href="javascript:void(0);" title="" target="_blank"><img src="assets/images/banner/banner-bottom1.jpg" alt="" class="img-responsive"></a></div>
            </div>
        </section>
        <!-- end block banner bottom-->
	</div>
</main>
{% include "block/_modal-add-success.html" %}
{% endblock %}