{% set current_page = 'TH-information' %} 
{% extends "layout/_layout.html" %} 
{% block page-container %}
<div class="banner"></div>
	<main class="instruction thienhoa-information">
	<div class="container">
		<ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);" title>dienmaythienhoa.vn</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);" title>Thông tin Điện Máy và Nội Thất Thiên Hòa</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);" title>Giới thiệu công ty</a></li>
        </ol>
		<section class="content">
			<div class="header-content">
				<h2 class="title">Hỗ trợ khách hàng</h2>
				<div class="pull-right">
					<span>08h-22h, Thứ 2 - Chủ nhật</span>
					<sapn class="color">19001829 (Nhấn phím 1)</sapn>
				</div>
			</div>
			<div class="left-block col-md-3 no-padding-left">
				<h3 class="title-block">Về điện máy Thiên Hòa</h3>
				<ul class="list-support">
					<li><a href="javascript:void(0);" class="instruction active">Giới thiệu công ty</a></li>
					<li><a href="javascript:void(0);" class="supermarkets">Hệ thống siêu thị</a></li>
					<li><a href="javascript:void(0);" class="career">Tuyển dụng</a></li>
					<li><a href="javascript:void(0);" class="order-alittle">Mua hàng trả góp</a></li>
					<li><a href="javascript:void(0);" class="order-business">Mua hàng doanh nghiệp</a></li>
					<li><a href="javascript:void(0);" class="contact-getidea">Liên hệ, góp ý</a></li>
				</ul>
			</div>
			<div class="right-block col-md-9 no-padding">
				{% include "block/_block-introduce-company.html" %}	
				{% include "block/_block-supermarket-system.html" %}	
				{% include "block/_block-tuyendung.html" %}	
				{% include "block/_block-thongtin-ungvien.html" %}	
				{% include "block/_block-muahang-tragop.html" %}
				{% include "block/_block-muahang-doanhnghiep.html" %}
				{% include "block/_block-contact.html" %}	
				<div class="block thienhoa-images">
					<h3 class="title-line">Hình ảnh vể Điện máy và nội thất Thiên Hòa</h3>
					<a href="javascript:void(0);" title="" class="btn1-prev btn-prev"><span class="fa fa-angle-left"></span></a>
					<div class="gallery">
						<div id="owl-buy1">
				            <div class="item">
				                <div class="box-img">
				                	<img src="assets/images/upload/img-th1.png" alt="thien hoa">
				                </div>
				            </div>
				            <div class="item">
				                <div class="box-img">
				                	<img src="assets/images/upload/img-th2.png" alt="thien hoa">
				                </div>
				            </div>
				            <div class="item">
				                <div class="box-img">
				                	<img src="assets/images/upload/img-th3.png" alt="thien hoa">
				                </div>
				            </div>
				            <div class="item">
				                <div class="box-img">
				                	<img src="assets/images/upload/img-th4.png" alt="thien hoa">
				                </div>
				            </div>
				            <div class="item">
				                <div class="box-img">
				                	<img src="assets/images/upload/img-th1.png" alt="thien hoa">
				                </div>
				            </div>
				            <div class="item">
				                <div class="box-img">
				                	<img src="assets/images/upload/img-th2.png" alt="thien hoa">
				                </div>
				            </div>
				            <div class="item">
				               <div class="box-img">
				                	<img src="assets/images/upload/img-th3.png" alt="thien hoa">
				                </div>
				            </div>
				            <div class="item">
				                <div class="box-img">
				                	<img src="assets/images/upload/img-th4.png" alt="thien hoa">
				                </div>
				            </div>
				        </div>	
					</div>
					<a href="javascript:void(0);" title="" class="btn1-next btn-next"><span class="fa fa-angle-right"></span></a>    
				</div>	
			</div>
		</section>
        <!-- start block banner bootom-->
        <section class="block-banner-bottom">
            <div class="row">
                <div class="col-md-5 padding1"><a href="javascript:void(0);" title="" target="_blank"><img src="assets/images/banner/banner-bottom.jpg" alt="" class="img-responsive"></a></div>
                <div class="col-md-7 padding2"><a href="javascript:void(0);" title="" target="_blank"><img src="assets/images/banner/banner-bottom1.jpg" alt="" class="img-responsive"></a></div>
            </div>
        </section>
        <!-- end block banner bottom-->
	</div>
</main>
{% include "block/_block-order-detail-view.html" %}
{% include "block/_modal-add-success.html" %}
{% endblock %}