<div class="wrap">
    {% for x in [1,2,3] %}
    <div class="col-md-4">
        <div class="box-buy">
            <a href="javascript:void(0);" title="" class="link-img">
                <img src="assets/images/product/brand22.jpg" alt="" class="img-responsive">
                <span class="brand"><span>Samsung</span></span></a>
            <a href="javascript:void(0);" title="" class="link-cart"><span class="total"><span class="icon icon-cart"></span><span class="text">Mua ngay</span></span></a>
            <div class="content">
                <p>Smart Tivi Samsung UA40MU6103KXXV LED 4K </p>
                <div class="price"><span class="sale-price">21.890.000<sup>đ</sup></span><span class="real-price">21.890.000<sup>đ</sup></span></div>
                <div class="sale-anounce"><span class="icon icon-gift"></span> Có 1 khuyến mãi</div>
                <div class="installment"><span>Trả góp 0%</span></div>
            </div>
        </div>
    </div> 
    {% endfor %}   
</div> 