<div class="InstallmentPurchase installment-purchase">
	<h3 class="title-content">Mua hàng trả góp</h3>
	<div class="wrap-img">
		<img src="assets/images/banner/banner-tragop.png" alt="">
	</div>
	<p>Thiên Hòa cùng HSBC hợp tác triển khai chương trình bán hàng trả góp lãi suất 0% cho khách mua hàng tại Thiên Hòa và thanh toán bằng thẻ tín dụng HSBC (Credit Card ) với chi tiết như sau:</p>
	<div class="block">
		<h3 class="title-block">THỜI GIAN  VÀ ĐỊA ĐIỂM CHƯƠNG TRÌNH:</h3>
		Từ ngày 01/01/2017 – 31/12/2017 tại toàn bộ hệ thống Trung Tâm Điện Máy – Nội Thất Thiên Hòa.
	</div>
	<div class="block">
		<h3 class="title-block">DANH SÁCH THẺ TÍN DỤNG THAM GIA CHƯƠNG TRÌNH</h3>
	</div>
	<div class="block">
		<h3 class="title-block">DANH SÁCH SẢN PHẨM THAM GIA CHƯƠNG TRÌNH    </h3>
	</div>
	<div class="block">
		<h3 class="title-block">DANH SÁCH SẢN PHẨM THAM GIA TRẢ GÓP 0% </h3>
	</div>
	<div class="block">
		<h3 class="title-block">QUYỀN LỢI CHƯƠNG TRÌNH:</h3>
		<p>- Được mua hàng trả góp lãi suất 0%.</p>
		<p>- Không phải thanh toán thêm khoản phí nào.</p>
		<p>- Được tư vấn mở thẻ tín dụng quốc tế HSBC.</p>
		<p>- Sản phẩm chương trình: áp dụng cho tất cả các mặt hàng đang kinh doanh  tại Thiên Hòa.</p>
	</div>
	<div class="block">
		<h3 class="title-block"> ĐIỀU KIỆN CHƯƠNG TRÌNH:</h3>
		<p>- Kỳ hạn trả góp: có 4 kỳ hạn bao gồm 03 tháng, 06 tháng, 09 tháng hoặc 12 tháng.</p>
		<p>- Áp dụng cho hóa đơn từ 4.000.000 VND trở lên.</p>
		<p>- Khách hàng mua online vẫn có thể tham gia chương trình.</p>
		<p>- Khách mua hàng trả góp lãi suất 0% sẽ không được áp dụng đồng thời với chính sách giảm giá cho chủ thẻ Thiên hòa (thẻ Thành viên , thẻ Vàng, thẻ Bạch Kim).</p>
		<p>- Khách mua hàng trả góp lãi suất 0% không được trả hàng và chỉ được đổi hàng với giá trị bằng hoặc lớn hơn giá trị trả góp ban đầu.</p>
	</div>
	<div class="block">
		<h3 class="title-block">CÁCH THỨC TRẢ GÓP:</h3>
		<p>- Quý khách phải điền vào phiếu đăng ký mua trả góp và thanh toán bằng thẻ tín dụng HSBC.</p>
		<p>- Khách hàng phải thanh toán 100% giá trị đơn hàng trả góp.</p>
		<p>- Khoản trả dần mỗi tháng sẽ được hoàn lại và thể hiện trên Bảng sao kê Thẻ Tín Dụng như một giao dịch thông thường.</p>
	</div>
	<div class="block">
		<h3 class="title-block">CÁCH THỨC THAM GIA VÀ MUA HÀNG:</h3>
		<p>- Bước 1: Quý khách đến các trung tâm Thiên Hòa để chọn sản phẩm và hoàn tất thủ tục trả góp 0% tại quầy dịch vụ hoặc chọn sản phẩm trên website dienmaythienhoa.vn, nếu muốn nhanh chóng hơn quý khách vui lòng gọi 1900 1829 (1) để được tư vấn thêm về sản phẩm và thủ tục trả góp lãi suất 0%.</p>
		<p>- Bước 2: Đối với khách hàng mua hàng online</p>
		<ul class="distance">
			<li>Tải form đăng ký ngân hàng HSBC tại đây</li>
			<li> Điền đầy đủ thông tin và gửi lại cho chúng tôi đến email: support@dienmaythienhoa.vn</li>
		</ul>
		<p>- Bước 3: Nhân viên bán hàng sẽ gọi lại cho khách hàng để xác nhận thông tin</p>
		<p>- Bước 4: Hoàn tất thủ tục thanh toán và giao hàng</p>
		<p>Khách hàng có thể linh động thanh toán bằng máy POS đặt tại các trung tâm hoặc nhân viên giao nhận sẽ kèm theo máy POS đến tận nhà để tiện cho việc thanh toán của quý khách. Khách hàng ký nhận hàng, ký vào form đăng ký mua hàng trả góp (đã điền đầy đủ thông tin theo tư vấn của nhân viên bán hàng) và chuyển lại cho nhân viên giao nhận.</p>
	</div>
	<div class="block">
		<h3 class="title-block">HƯỚNG DẪN ĐĂNG KÝ THẺ TÍN DỤNG HSBC</h3>
		<p>***Điều kiện cơ bản để làm thẻ tín dụng HSBC:</p>
		<p>- Cá nhân là người Việt Nam hoặc công dân nước ngoài từ 18 tuổi trở lên.</p>
		<p>- Thu nhập hằng tháng ít nhất:</p>
		<ul class="distance">
			<li>  * 6 triệu đồng Việt Nam đối với Thẻ tín dụng Chuẩn. </li>
			<li>* 12 triệu đồng Việt Nam đối với Thẻ tín dụng Vàng. </li>
			<li>* 18 triệu đồng Việt Nam đối với Thẻ tín dụng Bạch Kim.</li>
		</ul>
		<p>- Hiện đang cư trú tại:</p>
		<ul class="distance">
			<li>*  Khu vực phía Bắc: Hà Nội, Tp. Đà Nẵng, Tp. Huế, Tp. Hội An, Tp. Hải Phòng, Tỉnh Bắc Ninh, Tỉnh Vĩnh Phúc, Tỉnh Hưng Yên, Tỉnh Hải Dương, </li>
			<li> *  Khu vực phía Nam: Tp. Hồ Chí Minh, Tỉnh Đồng Nai, Tỉnh Bình Dương, Tỉnh Long An, Tỉnh Bà Rịa – Vũng Tàu, Tỉnh Tây Ninh, Tp. Cần Thơ, Tp. Vĩnh Long, Tp. Cao Lãnh, Thị xã Sa Đéc, Tp. Long Xuyên.</li>
		</ul>
		<p>- Nhân viên có ít nhất 3 tháng làm việc không gián đoạn hoặc cá nhân tự kinh doanh và chủ của doanh nghiệp đã có ít nhất 3 năm hoạt động và 12 tháng làm việc tại vị trí hiện tại</p>
		<p> - Nếu quý khách đáp ứng được các điều kiện cơ bản thì vui lòng click đăng ký làm thẻ tại đây</p>
		<p>- Hoặc chi tiết hơn quý khách vui lòng liên hệ: 08 37 247 247 - https://www.hsbc.com.vn/1/2/contactus_vn/contactus</p>
	</div>
	<div class="block block-icons">
		<h3 class="title-block">các mặt hàng đang kinh doanh tại trung tâm điện máy và nội thất thiên hòa</h3>
		<ul class="list-icons">
			<li> <a href="javascript:void(0);"><i class="icon-tv">&nbsp</i>Tivi</a></li>
			<li> <a href="javascript:void(0);"><i class="icon-tulanh">&nbsp</i>Tủ lạnh</a></li>
			<li> <a href="javascript:void(0);"><i class="icon-giadung">&nbsp</i>Gia dụng</a></li>
			<li> <a href="javascript:void(0);"><i class="icon-amthanh">&nbsp</i>Dàn âm thanh</a></li>
			<li> <a href="javascript:void(0);"><i class="icon-maygiat">&nbsp</i>Máy giặt</a></li>
			<li> <a href="javascript:void(0);"><i class="icon-maylanh">&nbsp</i>Máy lạnh</a></li>
			<li> <a href="javascript:void(0);"><i class="icon-laptop">&nbsp</i>Laptop</a></li>
			<li> <a href="javascript:void(0);"><i class="icon-dvd">&nbsp</i>Dàn DVD/ Karaoke</a></li>
			<li> <a href="javascript:void(0);"><i class="icon-hangcu">&nbsp</i>Hàng đã sử dụng</a></li>
		</ul>
	</div>
</div>
