<div class="NewsDetail news-detail">
	<ul class="title-content">
        <li>Tin khuyến mãi</li>
        <li>Kinh nghiệm chọn mua máy ép trái cây</li>
    </ul>
    <div class="wrap-mg">
    	<img src="assets/images/img-news1.png" alt="thienhoa">
    </div>
    <b class="descript">Cơ thể con người cần rất nhiều vitamin và chất dinh dưỡng. Nước ép từ các loại rau củ quả sẽ là một giải pháp hữu hiệu để cung cấp các dưỡng chất. Hãy cùng Điện máy Thiên Hòa tìm hiểu xem chiếc máy ép trái cây nào sẽ phù hợp với gia đình bạn nhất.</b>
    <div class="block">
    	<strong>1/ Máy ép trái cây ly tâm</strong>
    	<p>Đây là dòng máy ép trái cây phổ biến nay trên thị trường. Chúng đều được thiết kế với một mâm xay dạng tròn gồm nhiều lưỡi dao và lưới lọc để ép nước từ thực phẩm. </p>
    	<div class="wrap-mg text-center">
	    	<img src="assets/images/img-news2.png" alt="thienhoa">
	    </div>
    	<b>Ưu điểm:</b>
    	<p>- Giá thành rẻ, chỉ từ 500.000 đồng  –  2 triệu đồng.</p>
    	<p>- Có thể ép được nhiều loại trái cây và rau củ.</p>
    	<p>- Thương hiệu đa dạng có nhiều sự lựa chọn.</p>
    	<p>- Dễ lắp đặt và sử dụng.</p>
    	<b>Nhược điểm</b>
    	<p>- Bị tách lớp nước và oxi hóa ngay khi gặp không khí nên nước ép có bọt sau khi để 1 thời gian.</p>
    	<p>- Không ép được nhiều loại trái cây có nhiều lá.</p>
    	<p>- Máy hoạt động khá ồn và không sử dụng liên tục trong thời gian dài được vì sẽ dễ gây nóng và hỏng mô tơ.</p>
    </div>
    <div class="block">
    	<strong>2/ Máy xay ép đa năng</strong>
    	<p>Máy xay ép đa năng là 1 trong những dòng máy ép trái cây đa năng nhất hiện nay vì ngoài chức năng ép, bạn còn có thể xay được trái cây như các dòng máy xay sinh tố. Đây cũng là 1 trong những dòng máy phổ biến do tính đa năng và tiện lợi của sản phẩm</p>
    	<div class="wrap-mg text-center">
	    	<img src="assets/images/img-news3.png" alt="thienhoa">
	    </div>
    	<b>Ưu điểm:</b>
    	<p>- Máy có nhiều chức năng hơn các dòng máy ép thường, có khả năng ép trái cây và khả năng xay được các loại trái cây.</p>
    	<p>- Máy có nhiều chức năng hơn các dòng máy ép thường, có khả năng ép trái cây và khả năng xay được các loại trái cây.</p>
    	<b>Nhược điểm</b>
    	<p>- Giá thành vẫn còn khá cao so với máy ép trái cây thường, từ 2 triệu – 4 triệu.</p>
    	<p>- Máy nhiều chức năng nên khá cồng kềnh và khó vệ sinh, bảo quản.</p>
    </div>
    <div class="block">
    	<strong>3/ Máy ép trái cây chậm</strong>
    	<p>Máy ép chậm với 2 bộ phận chính là động cơ giảm tốc và trục vít đặc biệt, ép rau củ và hoa quả với vận tốc chỉ khoảng 85 vòng/phút, máy ép chậm sẽ từ từ nghiền nát hoa quả, rau củ và đẩy nguyên liệu vào lưới lọc mà không gây ra bất cứ lực ma sát hay lực ly tâm nào với nước ép, một bộ phận tách bã sẽ đẩy bã ra ngoài và nước ép chảy ra một cách tự nhiên.</p>
    	<div class="wrap-mg text-center">
	    	<img src="assets/images/img-news4.png" alt="thienhoa">
	    </div>
    	<b>Ưu điểm:</b>
    	<p>- Máy hoạt động rất êm ái và không sinh nhiệt lượng nên ép được lâu hơn.</p>
    	<p>- Không bị tách nước như 1 số dòng máy ép khác.</p>
    	<p>- Lượng nước ép cho ra nhiều hơn các loại máy ép thường, khoảng gấp 2 lần và chất dinh dưỡng được giữ lại trong nước tối đa.</p>
    	<p>- Sử dụng được cho rất nhiều loại trái cây.</p>
    	<b>Nhược điểm</b>
    	<p>- Máy có giá thành cao nhất trên thị trường, từ 6 triệu trở lên.</p>
    	<p>- Khó lắp đặt lại khi tháo ra để vệ sinh.</p>
    	<p>- Khi sử dụng dễ bị kẹt lại trái cây bên trong.</p>
    </div>
    <div class="block">
    	<h3 class="title-line">Tin khuyến mãi khác</h3>
    	<div class="click-button">
    		<a href="javascript:void(0);" title="" class="btn3-prev btn-prev"><span class="fa fa-angle-left"></span></a>
    		<a href="javascript:void(0);" title="" class="btn3-next btn-next"><span class="fa fa-angle-right"></span></a>   
    	</div>
    	<div class="gallery">
			<div id="owl-buy3">
				{% for x in [1,2,3] %}
				<div class="news-item">
		    		<div class="col-md-3 no-padding wrap-img">
						<a href="javascript:void(0);"><img src="assets/images/img-news5.png" alt="img news"></a>
					</div>
					<div class="col-md-9 no-padding-right right-item">
						<a href="javascript:void(0);" class="title-news">Top 5 tivi 4K bán chạy nhất tháng 11/2017 tại Điện máy Thiên Hòa</a>
						<p class="text">Tivi 4K ngày càng được người dùng ưa chuộng bởi khả năng hiển thị hình ảnh với độ nét vượt trội. Hãy để Điện máy Thiên Hòa giới thiệu đến bạn top 5 tivi 4K bán chạy nhất trong tháng 11 nhé.</p>
						<div class="bottom">
							<div class="left">
								<div class="wrap-icons"><i class="icon-comment">&nbsp</i><span>547 Bình luận</span></div>
								<div class="wrap-icons"><i class="fa fa-eye" aria-hidden="true"></i> <span>371.841 lượt xem</span></div>
							</div>
							<a href="javascript:void(0);" class="link pull-right">Xem chi tiết >></a>
						</div>
					</div>
		    	</div>
		    	{% endfor %}
			</div>
		</div>
    </div>
</div>