<div class="row">
    {% for x in [1,2,3,4,5,6] %}
    <div class="col-md-4">
        <div class="box-trade-mark">
            <a href="#" class="name-product">Bàn ủi hơi nước PANASONIC đa chiều  360o - NTEE519</a>
            <div class="row">
                <div class="col-md-6 left">
                    <div class="top">
                        <p class="old-price">1.455.000 <sup>đ</sup></p>
                        <p class="real-price">950.000 <sup>đ</sup></p>
                    </div>
                    <div class="bottom">
                        <div class="like">
                            <img src="assets/images/product/trade-like.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 no-padding-left">
                    <a href="#">
                        <img src="assets/images/product/product-trade-mark3.jpg" alt="">
                    </a>                                            
                </div>
            </div>
        </div>
    </div>
    {% endfor %} 
</div>