<div class="BusinessPurchase business-purchase">
	<h3 class="title-content">Mua hàng doanh nghiệp</h3>
	<div class="wrap-img">
		<img src="assets/images/banner/banner-bussiness.png" alt="">
	</div>
	<div class="block">
		<h3 class="title-content title_">Kính chào quý khách</h3>
		<p>Quý doanh nghiệp có nhu cầu trang bị cho văn phòng của mình những thiết bị văn phòng và các sản phẩm kỹ thuật số phục vụ cho công việc; tặng quà nhân viên, đối tác; làm khuyến mãi; các dịch vụ làm thuê bao và thu cước điện thoại di động... hãy để dienmaythienhoa.com chăm sóc Quý công ty thật đặc biệt với những ưu đãi như sau:</p>
	</div>
	
	<div class="block">
		<p>- Cam kết giá tốt nhất thị trường.</p>
		<p>- Sản phẩm chính hãng, đầy đủ giấy tờ.</p>
		<p>- Dịch vụ bảo hành nhanh chóng tại toàn hệ thống Điện máy Thiên Hòa và nhà cung cấp.</p>
		<p>- Điều khoản thanh toán linh hoạt (có thể trả chậm từ 3-15 ngày).</p>
		<p>- Danh mục hàng hóa phong phú.</p>
		<p>- Miễn phí vận chuyển và lắp đặt.</p>
		<p><b>Để có báo giá tốt nhất, hãy gọi cho chúng tôi theo Hotline 1800.1061 hoặc (028).39.48.6789</b></p>
	</div>
	<div class="block information-business">
		<h3 class="title-block">Thông tin doanh nghiệp</h3>
		<div class="form-group company">
			<div class="col-md-7 no-padding-left">
				<label for="">Tên công ty: </label>
				<div class="wrap-input">
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="col-md-5 no-padding-right">
				<label for="">Mã số thuế: </label>
				<div class="wrap-input">
					<input type="text" class="form-control">
				</div>
			</div>
		</div>
		<div class="form-group address">
			<label for="">Địa chỉ:</label>
			<div class="wrap-input">
				<div class="wrap-select">
					<select name="" id="" class="form-control">
						<option value="">Chọn Tỉnh/ Thành phố</option>
						<option value="">TP Hồ Chí Minh</option>
						<option value="">Hà Nội</option>
						<option value="">Bình Dương</option>
					</select>
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</div>
				<div class="wrap-select">
					<select name="" id="" class="form-control">
						<option value="">Chọn Quận/ Huyện</option>
						<option value="">Quận 1</option>
						<option value="">Quận 2</option>
						<option value="">Quận 3</option>
					</select>
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</div>
				<div class="wrap-select">
					<select name="" id="" class="form-control">
						<option value="">Chọn Phường/ Xã</option>
						<option value="">Phường 1</option>
						<option value="">Phường 2</option>
						<option value="">Phường 3</option>
					</select>
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</div>
				<input type="text" class="form-control" placeholder="Địa chỉ">
			</div>
		</div>
		<div class="form-group texarea">
			<label for="">Nhu cầu liên hệ:</label>
			<div class="wrap-input">
				<textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
			</div>
		</div>
	</div>
	<div class="block persion-information">
		<h3 class="title-block">Thông tin người liên hệ</h3>
		<div class="col-md-4 no-padding-left">
			<label for="">Họ và tên:</label>
			<div class="wrap-input">
				<input type="text" class="form-control">
			</div>
		</div>
		<div class="col-md-4 no-padding">
			<label for="">Điện thoại:</label>
			<div class="wrap-input">
				<input type="text" class="form-control">
			</div>
		</div>
		<div class="col-md-4 no-padding-right">
			<label for="" class="text-center">Email:</label>
			<div class="wrap-input">
				<input type="text" class="form-control">
			</div>
		</div>
	</div>
	<div class="block block-button">
		<button class="btn btn-send" data-toggle="modal" data-target=".AddSuccessModal2">Gửi yêu cầu</button>
		<span class="note">(Các thông tin của quý khách được bảo mật, không spam)</span>
	</div>

	<div class="block logo-business">
		<h3 class="title-line">các đối tác lớn đang hợp tác bán hàng</h3>
		<a href="javascript:void(0);" title="" class="btn2-prev btn-prev"><span class="fa fa-angle-left"></span></a>
		<div class="gallery">
			<div id="owl-buy2">
	            <div class="item">
	                <div class="box-img">
	                	<img src="assets/images/upload/logo1.png" alt="thien hoa">
	                </div>
	            </div>
	            <div class="item">
	                <div class="box-img">
	                	<img src="assets/images/upload/logo2.png" alt="thien hoa">
	                </div>
	            </div>
	            <div class="item">
	                <div class="box-img">
	                	<img src="assets/images/upload/logo3.png" alt="thien hoa">
	                </div>
	            </div>
	            <div class="item">
	                <div class="box-img">
	                	<img src="assets/images/upload/logo4.png" alt="thien hoa">
	                </div>
	            </div>
	            <div class="item">
	                <div class="box-img">
	                	<img src="assets/images/upload/logo5.png" alt="thien hoa">
	                </div>
	            </div>
	            <div class="item">
	                <div class="box-img">
	                	<img src="assets/images/upload/logo2.png" alt="thien hoa">
	                </div>
	            </div>
	            <div class="item">
	               <div class="box-img">
	                	<img src="assets/images/upload/logo3.png" alt="thien hoa">
	                </div>
	            </div>
	            <div class="item">
	                <div class="box-img">
	                	<img src="assets/images/upload/logo4.png" alt="thien hoa">
	                </div>
	            </div>
	        </div>	
		</div>
		<a href="javascript:void(0);" title="" class="btn2-next btn-next"><span class="fa fa-angle-right"></span></a>   
	</div>
	
</div>
