<aside class="sidebar">
    <a href="#">
        <img src="assets/images/banner/banner-aside.jpg" alt="product detail">
      </a>
    <div class="paragraph">
        <p class="title">Nhà cung cấp khác đang bán sản phẩm này</p>
        <ul class="list-pro">
            {%for x in [1,2]%}
            <li class="item-pro">
                <div class="border-img">
                    <img src="assets/images/product/product-relate.png" alt="">
                </div>
                
                <p class="sale-until">KM đến 20/10</p>
                <div class="text-decript">
                    <a class="text-pro">Mắt Sáp Chì Mí Mira Eyeshadow And Make-Up Pencil</a>
                    <b class="color">950.000đ</b><span class="real-price">1.295.000đ</span>
                </div>
            </li>
            {%endfor%}
        </ul>
    </div>
    <!-- end first paragraph -->
    <div class="paragraph">
        <p class="title">Sản phẩm nổi bật cùng danh mục</p>
        <ul class="list-pro">
            {%for x in [1,2,3,4,5]%}
            <li class="item-pro">
                <div class="border-img">
                    <img src="assets/images/product/product-relate.png" alt="">
                </div>
                <p class="sale-until">KM đến 20/10</p>
                <div class="text-decript">
                    <a class="text-pro">Mắt Sáp Chì Mí Mira Eyeshadow And Make-Up Pencil</a>
                    <b class="color">950.000đ</b><span class="real-price">1.295.000đ</span>
                </div>
            </li>
            {%endfor%}
        </ul>
    </div>
    <!-- end second paragraph -->
    <div class="paragraph">
        <p class="title">Sản phẩm cùng thương hiệu</p>
        <ul class="list-pro">
            {%for x in [1,2,3,4]%}
            <li class="item-pro">
                <div class="border-img">
                    <img src="assets/images/product/product-relate.png" alt="">
                </div>
                <p class="sale-until">KM đến 20/10</p>
                <div class="text-decript">
                    <a class="text-pro">Mắt Sáp Chì Mí Mira Eyeshadow And Make-Up Pencil</a>
                    <b class="color">950.000đ</b><span class="real-price">1.295.000đ</span>
                </div>
            </li>
            {%endfor%}
        </ul>
    </div>
    <!-- end third paragraph -->
</aside>