<div class="Career carrer-infor">
	<h3 class="title-content title-general">Tuyển dụng</h3>
	<ul class="title-content title-detail">
        <li>Tuyển dụng</li>
        <li>Vị trí tuyển dụng</li>
    </ul>
	<div class="wrap-img">
		<img src="assets/images/banner/banner-career.png" alt="thienhoa">
	</div>
	<div class="block ">
		<div class="top">
			<h3 class="title-block">Hiện có <span class="blue">12</span> vị trí đang tuyển dụng</h3>
			<div class="search-jobs pull-right">
				<label for="">Tìm việc theo:</label>
				<div class="wrap-select">
					<select name="" id="" class="form-control">
						<option value="">Chọn danh mục tuyển dụng</option>
						<option value="">Chăm sóc khách hàng</option>
						<option value="">Kế toán</option>
						<option value="">Bán thời gian, sinh viên</option>
						<option value="">Các bộ phận hỗ trợ khác</option>
						<option value="">Giao hàng lắp đặt</option>
						<option value="">Công nghệ thông tin</option>
						<option value="">Nhân viên siêu thị</option>
					</select>
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<div class="GeneralCareer">
			<div class="block block-list-career">
				<ul class="list-career">
					<li class="title-list">
						<div class="col-md-5 no-padding">Giao hàng, lắp đặt</div>
						<div class="col-md-4 text-center">Địa điểm làm việc</div>
						<div class="col-md-3 text-right no-padding-right">Hạn nộp hồ sơ</div>
					</li>
					<li class="career-item">
						<div class="col-md-5 no-padding"><a href="javascript:void(0);"><b>Nhân viên lắp đặt điện máy lạnh</b></a></div>
						<div class="col-md-4 text-center">Tp. Hồ Chí Minh</div>
						<div class="col-md-3 text-right no-padding-right">31/12/2017</div>
					</li>
					<li class="career-item">
						<div class="col-md-5 no-padding"><a href="javascript:void(0);"><b>Nhân viên lắp đặt điện máy lạnh</b></a></div>
						<div class="col-md-4 text-center">Tp. Hồ Chí Minh</div>
						<div class="col-md-3 text-right no-padding-right">31/12/2017</div>
					</li>
					<li class="career-item">
						<div class="col-md-5 no-padding"><a href="javascript:void(0);"><b>Nhân viên lắp đặt điện máy lạnh</b></a></div>
						<div class="col-md-4 text-center">Tp. Hồ Chí Minh</div>
						<div class="col-md-3 text-right no-padding-right">31/12/2017</div>
					</li>
				</ul>
			</div>
			<!-- end block -->
			<div class="block block-list-career">
				<ul class="list-career">
					<li class="title-list">
						<div class="col-md-5 no-padding">Chăm sóc khách hàng</div>
						<div class="col-md-4 text-center">Địa điểm làm việc</div>
						<div class="col-md-3 text-right no-padding-right">Hạn nộp hồ sơ</div>
					</li>
					<li class="career-item">
						<div class="col-md-5 no-padding"><a href="javascript:void(0);"><b>Nhân viên lắp đặt điện máy lạnh</b></a></div>
						<div class="col-md-4 text-center">Tp. Hồ Chí Minh</div>
						<div class="col-md-3 text-right no-padding-right">31/12/2017</div>
					</li>
					<li class="career-item">
						<div class="col-md-5 no-padding"><a href="javascript:void(0);"><b>Nhân viên lắp đặt điện máy lạnh</b></a></div>
						<div class="col-md-4 text-center">Tp. Hồ Chí Minh</div>
						<div class="col-md-3 text-right no-padding-right">31/12/2017</div>
					</li>
					<li class="career-item">
						<div class="col-md-5 no-padding"><a href="javascript:void(0);"><b>Nhân viên lắp đặt điện máy lạnh</b></a></div>
						<div class="col-md-4 text-center">Tp. Hồ Chí Minh</div>
						<div class="col-md-3 text-right no-padding-right">31/12/2017</div>
					</li>
				</ul>
			</div>
			<!-- end block -->
			<div class="block block-list-career">
				<ul class="list-career">
					<li class="title-list">
						<div class="col-md-5 no-padding">Công nghệ thông tin</div>
						<div class="col-md-4 text-center">Địa điểm làm việc</div>
						<div class="col-md-3 text-right no-padding-right">Hạn nộp hồ sơ</div>
					</li>
					<li class="career-item">
						<div class="col-md-5 no-padding"><a href="javascript:void(0);"><b>Nhân viên lắp đặt điện máy lạnh</b></a></div>
						<div class="col-md-4 text-center">Tp. Hồ Chí Minh</div>
						<div class="col-md-3 text-right no-padding-right">31/12/2017</div>
					</li>
					<li class="career-item">
						<div class="col-md-5 no-padding"><a href="javascript:void(0);"><b>Nhân viên lắp đặt điện máy lạnh</b></a></div>
						<div class="col-md-4 text-center">Tp. Hồ Chí Minh</div>
						<div class="col-md-3 text-right no-padding-right">31/12/2017</div>
					</li>
					<li class="career-item">
						<div class="col-md-5 no-padding"><a href="javascript:void(0);"><b>Nhân viên lắp đặt điện máy lạnh</b></a></div>
						<div class="col-md-4 text-center">Tp. Hồ Chí Minh</div>
						<div class="col-md-3 text-right no-padding-right">31/12/2017</div>
					</li>
				</ul>
			</div>
		</div>	
		<!-- block show infor detail -->
		<div class="block detail-career DetailCareer">
			<h3 class="title-block blue"><label for="">Vị trí:</label> Nhân viên giao hàng điện máy</h3>
			<div class="block">
				<h4 class="sub-title">Mô tả công việc</h4>
				<p>- Nhận đơn hàng và giao hàng theo đơn</p>
				<p>- Thu tiền khách hàng khi phát sinh cần thu</p>
				<p>- Nơi làm việc: 55 Đường số 7, Khu A, Khu Đô Thị An Phú An Khánh, Phường An Phú, Quận 2</p>
			</div>
			<div class="block">
				<h4 class="sub-title">Yêu cầu công việc</h4>
				<p>- Có xe máy và giấy phép lái xe</p>
				<p>- Thông thạo đường Hồ Chí Minh</p>
				<p>- Trung thực, chăm chỉ, nhanh nhẹn</p>
				<p>- Loại hình công việc: Toàn thời gian</p>
			</div>
			<div class="block">
				<h4 class="sub-title">Thông tin khác</h4>
				<p>- Tổng thu nhập từ 8-12 triệu/tháng + Phụ cấp ăn trưa + Phụ cấp điện thoại</p>
				<p>- Thưởng Lễ, Tết, sinh nhật, hiếu-hỉ</p>
				<p>- Thưởng lương tháng 13, Tết âm lịch...</p>
				<p>- Du lịch, nghỉ mát cùng công ty</p>
			</div>
			<div class="block">
				<h4 class="sub-title">Phương thức ứng tuyển</h4>
				<p>Vui lòng click vào nút ứng tuyển phía bên dưới để nộp hồ sơ:</p>
			</div>
			<div class="block-btn text-center">
				<button class="btn btn-second BtnApply">Ứng tuyển</button>
				<img src="assets/images/social-img.png" alt="">
			</div>
		</div>	
	</div>
	
</div>