<!-- popup1 -->
<div class="modal fade" id="modalType1" role="dialog">
    <div class="modal-dialog modal-type1">
        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-body">
                <div class="col-sm-3 left-modal">
                    <h3 class="name-product">Combo 2 bình giữ nhiệt lưỡng tính cao cấp 500ml Lock&Lock Color</h3>
                    <div class="wrap-img">
                        <img src="assets/images/img-product-popup.png" alt="">
                    </div>
                    <div class="wrap-price">
                        <span>Giá siêu tốc</span>
                        <p class="price">270.000 <sup>đ</sup></p>
                    </div>
                </div>
                <div class="col-sm-9 right-modal">
                    <h3 class="title-form">Thông tin đặt hàng</h3>
                    <form action="">
                        <div class="form-group name">
                            <label for="">Người nhận hàng:</label>
                            <div class="row ">
                                <select name="" id="" class="form-control">
                                    <option value="">Anh</option>
                                    <option value="">Chị</option>
                                </select>
                                <input type="text" class="form-control" value="Phương Du">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Điện thoại:</label>
                            <input type="text" class="form-control" value="01653547528">
                        </div>
                        <div class="form-group">
                            <label for="">Địa chỉ:</label>
                            <div class="row">
                                <select name="" id="" class="form-control">
                                    <option value="">Tỉnh/ Thành phố</option>
                                    <option value="">Hồ Chí Minh</option>
                                    <option value="">Hà Nội</option>
                                    <option value="">Nghệ An</option>
                                </select>
                            </div>
                            <div class="row choose_address">
                                <select name="" id="" class="form-control">
                                    <option value="">Quận/ Huyện</option>
                                    <option value="">Quận 1</option>
                                    <option value="">Quận 2</option>
                                    <option value="">Quận 3</option>
                                </select>
                                <select name="" id="" class="form-control">
                                    <option value="">Phường/ Xã</option>
                                    <option value="">Phường 1</option>
                                    <option value="">Phường 2</option>
                                    <option value="">Phường 3</option>
                                </select>
                            </div>
                            <div class="row">
                                <input type="text" class="form-control" placeholder="Đường/ Phố; Số nhà, ngõ ngách, hẻm...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Email:</label>
                            <input type="text" class="form-control" placeholder="Nhập email" value="phuongdu.pham@gmail.com">
                        </div>
                        <div class="row row_btn">
                            <button class="btn btn_transport">Giao hàng đến địa chỉ này</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- popup2 -->
<div class="modal fade" id="modalType2" role="dialog">
    <div class="modal-dialog modal-type1">
        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-body">
                <div class="col-sm-3 left-modal">
                    <h3 class="name-product">Combo 2 bình giữ nhiệt lưỡng tính cao cấp 500ml Lock&Lock Color</h3>
                    <div class="wrap-img">
                        <img src="assets/images/img-product-popup.png" alt="">
                    </div>
                    <div class="wrap-price">
                        <span>Giá siêu tốc</span>
                        <p class="price">270.000 <sup>đ</sup></p>
                    </div>
                </div>
                <div class="col-sm-9 right-modal">
                    <h3 class="title-form">Thông tin thanh toán</h3>
                    <form action="">
                        <div class="form-group group_radio">
                            <div class="row">
                                <input type="radio" id="pay1" name="payment"><label for="pay1">Thanh toán tiền mặt khi nhận hàng</label>
                            </div>
                            <div class="row">
                                <input type="radio" id="pay2" name="payment"><label for="pay2">Thanh toán bằng thẻ ATM có Internet Banking</label>
                            </div>
                            <div class="row">
                                <input type="radio" id="pay3" name="payment"><label for="pay3">Thanh toán bằng thẻ thanh toán quốc tê Visa, Master Card, JCB.</label>
                            </div>
                        </div>
                        <div class="form-group row_textarea">
                            <label for="">Ghi chú đơn hàng</label>
                            <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Vd: Giao hàng vào giờ hành chính"></textarea>
                        </div>
                        <div class="form-group">
                            <strong>Xác nhận không phải Robot tự động bằng cách thực hiện phép tính sau:</strong>
                            <div class="calculator">
                                <div class="input_number">123 + 20</div>
                                <input type="text" class="output_calculator form-control" >
                            </div>
                        </div>
                        <div class="row row_btn">
                            <button class="btn btn_transport">Đặt hàng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popup 3 -->
<div class="modal fade" id="modalType3" role="dialog">
    <div class="modal-dialog modal-type2">
        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-body">
                <div class="text-center"><i class="icon-check">&nbsp</i></div>
                <h2 class="tite">Bạn đã mua hàng giá sốc thành công</h2>
                <p class="contact">Bộ phận CSKH dienmaythienhoa.vn sẽ liên hệ với bạn trong thời gian sớm nhất.  Mọi thắc mắc xin vui lòng liên hệ hotline:</p>
                <p><span class="red">19001829(1)</span> (08h00 - 22h00 Thứ 2 - Chủ nhật) </p>
                <button class="btn btn_transport" data-dismiss="modal">Tiếp tục mua hàng</button>
            </div>
        </div>
    </div>
</div>
<!-- popup4 -->
<div class="modal fade" id="modalType4" role="dialog">
    <div class="modal-dialog modal-type2 modal_unsucess">
        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-body">
                <div class="text-center"><i class="icon-uncheck">&nbsp</i></div>
                <h2 class="tite">BẠN CHƯA MUA ĐƯỢC SẢN PHẨM GIÁ SOCK NÀY</h2>
                <p class="contact">Bộ phận CSKH dienmaythienhoa.vn sẽ liên hệ với bạn trong thời gian sớm nhất.  Mọi thắc mắc xin vui lòng liên hệ hotline:</p>
                <p><span class="red">19001829(1)</span> (08h00 - 22h00 Thứ 2 - Chủ nhật) </p>
                <button class="btn btn_transport" data-dismiss="modal">Tiếp tục mua hàng</button>
            </div>
        </div>
    </div>
</div>
<!-- end -->