<div class="Supermarket supermarket-system ">
	<div class="top_block_origin">
		<h3 class="title-content">Hệ thống siêu thị</h3>
		<div class="wrap-img">
			<img src="assets/images/upload/thienhoa.png" alt="thien hoa">
		</div>
		<h3 class="name-supermarket">Siêu thị sắp khai trương: <span class="blue">Điện Máy Và Nội Thất Thiên Hòa Nguyễn Oanh Gò Vấp</span> </h3>
		<p class="address">Địa chỉ: 123, Nguyễn Oanh, Phường 17, Gò Vấp, TPHCM</p>
		<div class="block block-supermarket">
			<h3 class="title-block">Siêu thị đang hoạt động</h3>
			<div class="col-md-6 no-padding">
				<h4 class="title">Thành Phố Hồ Chí Minh (12)</h4>
				<div class="scrollbar">
	                <ul class="list-super">
	                    <li>
	                        <strong><a href="javascript:void(0);">Trung tâm Thiên Hòa Q10</a></strong>
	                        <p>Địa chỉ: Số 277B Cách Mạng Tháng Tám Phường 12, Quận 10, Tp HCM</p>
	                    </li>
	                    <li>
	                        <strong><a href="javascript:void(0);">Trung tâm Thiên Hòa Q12</a></strong>
	                        <p>Địa chỉ: Số 277B Cách Mạng Tháng Tám Phường 12, Quận 10, Tp HCM</p>
	                    </li>
	                    <li>
	                        <strong><a href="javascript:void(0);">Trung tâm Thiên Hòa Q7</a></strong>
	                        <p>Địa chỉ: Số 277B Cách Mạng Tháng Tám Phường 12, Quận 10, Tp HCM</p>
	                    </li>
	                    <li>
	                        <strong><a href="javascript:void(0);">Trung tâm Thiên Hòa Q5</a></strong>
	                        <p>Địa chỉ: Số 277B Cách Mạng Tháng Tám Phường 12, Quận 10, Tp HCM</p>
	                    </li>
	                    <li>
	                        <strong><a href="javascript:void(0);">Trung tâm Thiên Hòa Q10</a></strong>
	                        <p>Địa chỉ: Số 277B Cách Mạng Tháng Tám Phường 12, Quận 10, Tp HCM</p>
	                    </li>
	                </ul>
	            </div> 
			</div>
			<div class="col-md-6 no-padding-right">
				<h4 class="title">Thành Phố Bình Dương (2)</h4>
				<div class="scrollbar">
	                <ul class="list-super">
	                    <li>
	                        <strong><a href="javascript:void(0);">Thiên Hòa Bình Dương Bến Cát</a></strong>
	                        <p>Địa chỉ: Số 277B Cách Mạng Tháng Tám Phường 12, Quận 10, Tp HCM</p>
	                    </li>
	                    <li>
	                        <strong><a href="javascript:void(0);">Trung tâm Thiên Hòa Bình Dương</a></strong>
	                        <p>Địa chỉ: Số 277B Cách Mạng Tháng Tám Phường 12, Quận 10, Tp HCM</p>
	                    </li>
	                </ul>
	            </div> 
			</div>
		</div>
		<div class="block">
			<div class="col-md-7 no-padding-left">
				<img src="assets/images/upload/img-th.png" alt="thienhoa">
			</div>
			<div class="col-md-5 no-padding-right">
				Hiện tại, Thiên Hòa tổ chức hoạt động kinh doanh trực tiếp tại 07 Trung tâm kinh doanh tại khu vực thành phố Hồ Chí Minh, Bình Dương với lượng khách hàng phục vụ của mỗi trung tâm lên đến hàng chục nghìn người mỗi ngày. Về dịch vụ sau bán hàng, ngoài trung tâm chăm sóc khách hàng chính thì ở mỗi trung tâm đi kèm với 01 trạm bảo hành giúp giải quyết nhanh chóng các vấn đề cho khách hàng. Bên cạnh đó, Thiên Hòa còn thành lập Trung tâm Online đẩy mạnh việc kinh doanh qua mạng với phương thưc thanh toán, vận chuyển và giao hàng linh hoạt, nhanh chóng... Đồng thời Thiên Hòa cũng luôn được chọn là địa điểm trưng bày, giới thiệu, ra mắt những sản phẩm mới, công nghệ mới nhất của các các thương hiệu hàng đầu thế giới.
			</div>
		</div>
	</div>
	<div class="top_block_detail">
		<ul class="title-content">
            <li>Siêu thị điện máy và nội thất Thiên Hòa</li>
            <li>Hồ Chí Minh</li>
            <li>Trung tâm Thiên hòa Q10</li>
        </ul>
        <div class="information-detail">
        	<div class="col-md-5 no-padding-left">
        		<div class="wrap-img"><img src="assets/images/upload/img-th.png" alt="thienhoa"></div>
        		<p>Địa chỉ: <b>Số 277B Cách Mạng Tháng Tám Phường 12, Quận 10, Tp HCM</b></p>
        		<p>Thời gian làm việc: Từ 8:00 ~ 22:00, Thứ 2 -CN</p>
        	</div>
        	<div class="col-md-7 no-padding-right">
        		<div class="inside" style="width: 100%">
		            <iframe width="100%" height="320" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Trung%20t%C3%A2m%20Thi%C3%AAn%20H%C3%B2a%20qu%E1%BA%ADn%2010&key=AIzaSyDPKAtxJV3h4VcI1gE8beTiUaY0OEmVRRg" allowfullscreen></iframe>
		        </div>
        	</div>
        </div>
        <div class="block block-supermarket">
			<h3 class="title-block">Siêu thị điện máy và nội thất khác tại tp. hồ chí minh</h3>
            <ul class="list-super">
                <li class="col-md-6">
                    <strong><a href="javascript:void(0);">Trung tâm Thiên Hòa Q10</a></strong>
                    <p>Địa chỉ: Số 277B Cách Mạng Tháng Tám Phường 12, Quận 10, Tp HCM</p>
                </li>
                <li  class="col-md-6">
                    <strong><a href="javascript:void(0);">Trung tâm Thiên Hòa Q12</a></strong>
                    <p>Địa chỉ: Số 277B Cách Mạng Tháng Tám Phường 12, Quận 10, Tp HCM</p>
                </li>
                <li class="col-md-6">
                    <strong><a href="javascript:void(0);">Trung tâm Thiên Hòa Q7</a></strong>
                    <p>Địa chỉ: Số 277B Cách Mạng Tháng Tám Phường 12, Quận 10, Tp HCM</p>
                </li>
                <li class="col-md-6">
                    <strong><a href="javascript:void(0);">Trung tâm Thiên Hòa Q5</a></strong>
                    <p>Địa chỉ: Số 277B Cách Mạng Tháng Tám Phường 12, Quận 10, Tp HCM</p>
                </li>
                <li class="col-md-6">
                    <strong><a href="javascript:void(0);">Trung tâm Thiên Hòa Q10</a></strong>
                    <p>Địa chỉ: Số 277B Cách Mạng Tháng Tám Phường 12, Quận 10, Tp HCM</p>
                </li>
            </ul>
		</div>
	</div>
	<div class="bottom_block">
		<div class="block block-icons">
			<h3 class="title-block">các mặt hàng đang kinh doanh tại trung tâm điện máy và nội thất thiên hòa</h3>
			<ul class="list-icons">
				<li> <a href="javascript:void(0);"><i class="icon-tv">&nbsp</i>Tivi</a></li>
				<li> <a href="javascript:void(0);"><i class="icon-tulanh">&nbsp</i>Tủ lạnh</a></li>
				<li> <a href="javascript:void(0);"><i class="icon-giadung">&nbsp</i>Gia dụng</a></li>
				<li> <a href="javascript:void(0);"><i class="icon-amthanh">&nbsp</i>Dàn âm thanh</a></li>
				<li> <a href="javascript:void(0);"><i class="icon-maygiat">&nbsp</i>Máy giặt</a></li>
				<li> <a href="javascript:void(0);"><i class="icon-maylanh">&nbsp</i>Máy lạnh</a></li>
				<li> <a href="javascript:void(0);"><i class="icon-laptop">&nbsp</i>Laptop</a></li>
				<li> <a href="javascript:void(0);"><i class="icon-dvd">&nbsp</i>Dàn DVD/ Karaoke</a></li>
				<li> <a href="javascript:void(0);"><i class="icon-hangcu">&nbsp</i>Hàng đã sử dụng</a></li>
			</ul>
		</div>
	</div>	
</div>