<div class="IntroduceTH introduce-th">
	<h3 class="title-content">Giới thiệu công ty</h3>
	<div class="wrap-img">
		<img src="assets/images/upload/thienhoa.png" alt="thien hoa">
	</div>
	<div class="block">
		<p><b>Công ty TNHH TM&DV Thiên Nam Hòa</b> chính thức được thành lập và đi vào hoạt động ngày 24/11/2001 với ngành nghề kinh doanh chủ yếu là điện máy – nội thất. Bắt đầu hoạt động từ một cửa hàng kinh doanh các mặt hàng điện – điện tử - điện lạnh nhỏ tại TP HCM, đến nay Thiên Hòa đã phát triển thành chuỗi Hệ thống trung tâm Điện máy – Nội thất quy mô với 7 trung tâm lớn tiện nghi thu hút đông đảo khách hàng đến tham quan và mua sắm.</p>
		<h3 class="title-block">* CÁC THÀNH TỰU</h3>
		<p>Thiên Hòa đi vào hoạt động đã hơn 12 năm, với kinh nghiệm và uy tín ngày càng được khẳng định theo thời gian bằng những thành tựu đáng kể như:</p>
		<p>- Năm 2007: Thiên Hòa vinh dự đón nhận cúp “Thương hiệu Việt được yêu thích” do Báo Sài Gòn Giải Phóng tổ chức với vị trí đứng đầu trong lĩnh vực điện máy – nội thất do người tiêu dùng bình chọn.</p>
		<p>- Năm 2008: Tiếp tục đạt danh hiệu “Thương hiệu Việt được yêu thích” và nằm trong Top 500 Doanh nghiệp lớn nhất Việt Nam do báo điện tử Vietnamnet và Công ty Cổ phần Báo cáo đánh giá Việt Nam công bố.</p>
		<p>- Năm 2009: Tiếp tục đạt danh hiệu “Thương hiệu Việt được yêu thích” và nằm trong Top 500 Doanh nghiệp lớn nhất Việt Nam.</p>
		<p>- Năm 2010: Tiếp tục đạt danh hiệu “Thương hiệu Việt được yêu thích” và nằm trong Top 500 Doanh nghiệp lớn nhất Việt Nam.</p>
		<p>- Năm 2012: Đón nhận danh hiệu "Thương hiệu Việt được yêu thích nhất" năm 2012, do đọc giả báo Sài Gòn Giải Phóng bình chọn.</p>
		<p>Thiên Hòa khẳng định tên tuổi và uy tín của mình thông qua việc tổ chức hệ thống bán lẻ các sản phẩm điện máy, gia dụng, nội thất cao cấp với một mô hình bán lẻ hiện đại và tiên tiến nhất hiện nay. Sáu ngành hàng chủ lực được kinh doanh bao gồm: Điện tử, Điện lạnh, Điện Gia Dụng, Công nghệ thông tin - Kỹ thuật số, Viễn thông – Thiết Bị Văn Phòng, Nội Thất cao cấp, với hơn 80.000 sản phẩm chính hãng của các thương hiệu hàng đầu thế giới như: Sony, Toshiba, LG, Panasonic, Samsung, Sharp, Sanyo, Toshiba, Elextrolux, Deawoo, Fujiyama, Canon, Nokia, HP, Black&White, Hitachi, Philips, TCL, Acer, JVC, Reetech, … Thiên Hòa luôn đạt danh hiệu “Thương hiệu bán lẻ điện máy được yêu thích nhất” tại thị trường Việt Nam do người tiêu dùng bình chọn. Đồng thời, liên tục nằm trong Top 500 doanh nghiệp lớn nhất Việt Nam.</p>
		<p>Qua kết quả bình chọn, 90% khách hàng chọn Thiên Hoà làm nơi mua sắm hàng tuần với các lý do:</p>
		<p>Sản phẩm chính hãng – chất lượng cao – giá cả hợp lý.</p>
		<p>Phong cách phục vụ chuyên nghiệp – chu đáo – nhiệt tình.</p>
		<p>Thủ tục thanh toán nhanh chóng.</p>
		<p>Có nhiều chương trình khuyến mãi hấp dẫn.</p>
		<p> Sản phẩm đa dạng, phong phú – tiện lợi cho việc mua sắm.</p>
		<p> Trung tâm rộng lớn, thoáng mát – cách bài trí sản phẩm đẹp – dễ tìm kiếm.</p>
		<p> Chương trình chăm sóc khách hàng – hậu mãi chu đáo</p>
		<p>Bên cạnh đó, Thiên Hòa còn là doanh nghiệp luôn đi đầu trong công tác xã hội vì cộng đồng nhằm góp phần chia sẻ những khó khăn của người dân sống trong vùng thiên tai, bão lụt, những gia đình nghèo còn gặp nhiều khó khăn trong cuộc sống.</p>
		<h3 class="title-block">* ĐỊNH HƯỚNG PHÁT TRIỂN</h3>
		<p>Với sự phát triển không ngừng của thị trường điện máy, Thiên Hoà đã và đang nổ lực hết mình nhằm mang lại sự tin tưởng tuyệt đối cho khách hàng. Đặt ra sứ mệnh, “SỰ TIỆN ÍCH CỦA KHÁCH HÀNG LÀ NỀN TẢNG CHO SỰ TỒN TẠI VÀ PHÁT TRIỂN”, Thiên Hòa luôn hướng đến sự hoàn thiện trong công tác chăm sóc và phục vụ khách hàng tốt nhất. Với quy mô như hiện nay, Thiên Hòa tự tin sẽ trở thành hệ thống chuỗi siêu thị điện máy hiện đại nhất, rộng khắp đứng đầu Việt Nam, là nơi hội tụ sự tín nhiệm của các hãng điện tử hàng đầu trên thế giới và khách hàng.</p>
		<p>Trong tương lai, hệ thống Trung tâm Điện máy – Nội thất Thiên Hòa sẽ được nhân rộng khắp với 10 trung tâm mua sắm tại Tp. Hồ Chí Minh và 11 trung tâm tại các tỉnh lân cận như Bình Dương, Đồng Nai, Long An, Cần Thơ, Bà Rịa - Vũng Tàu, Vĩnh Long...sau đó sẽ nhân rộng khắp đến các tỉnh thành khác trên cả nước.</p>
		<p>Đến với Thiên Hòa Quý khách sẽ hoàn toàn hài lòng với những tiện ích mà Thiên Hòa luôn phấn đấu xây dựng và phát triển. Không chỉ là mua sắm mà còn là vui chơi, giải trí, ẩm thực và các tiện tích khác đã giúp Thiên Hoà thu hút được số lượng khá đông khách hàng đến đây mỗi ngày. Thiên Hòa sẽ còn phát triển nhiều tiện ích hơn nữa để xứng đáng với khẩu hiệu đề ra Thiên Hòa – Tiện ích cho mọi nhà.</p>
		<p><b>Thiên Hòa cam kết:</b></p>
		<p>- Tiếp tục đem đến cho khách hàng những quyền lợi mua sắm tốt nhất với phong cách phục vụ chuyên nghiệp và các chương trình khuyến mãi hấp dẫn.</p>
		<p>-   Nâng cao chất lượng dịch vụ bảo hành, bảo trì, giao hàng, lắp đặt và các dịch vụ khác.</p>
		<p>-   Cam kết cung cấp cho khách hàng những sản phẩm chất lượng cao, giá cả hợp lý và thương hiệu uy tín.</p>
		<p>-   Thường xuyên tìm kiếm, khai thác và phân phối các sản phẩm mới, hiện đại, phù hợp với nhu cầu khách hàng.</p>
		<p>-   Cam kết sẽ tiếp tục đổi mới về mọi mặt để đưa THIÊN HÒA lên một tầm vóc mới chuyên nghiệp hơn hiện đại hơn.</p>
	</div>
	<div class="block support-block">
		<div class="col-md-4 no-padding">
			<img src="assets/images/upload/img-support.png" alt="thien hoa">
		</div>
		<div class="col-md-8 no-padding-right">
			<h3 class="title-line">Tổng đài hỗ trợ <span class="note">(1000đ/ Phút, 08h-22h, Thứ 2 - Chủ nhật)</span></h3>
			<div class="support">
				<p>Hỗ trợ mua hàng: <span class="color">1900 1829</span> (nhấn phím <span class="color">1</span>)</p>
				<p>Hỗ trợ bảo hành: <span class="color">1900 1829</span> (nhấn phím <span class="color">2</span>)</p>
				<p>Hỗ trợ khiếu nại, thắc mắc: <span class="color">1900 1829</span> (nhấn phím <span class="color">0</span>)</p>
			</div>			
		</div>
	</div>
</div>