<div class="Transport ghld">
	<h3 class="title-content">Chính sách giao hàng và biểu phí vật tư lắp đặt</h3>
	<div class="block">
		<b>Để đảm bảo quyền lợi của Quý khách hàng và tiện trong việc tra cứu thông tin về các dịch vụ Bảo hành - Bảo trì sản phẩm, Thiên Hòa xin thông báo đến Quý khách hàng Bảng giá dịch vụ như sau:</b>
		<b>1- Bảng gía vật tư</b>
		<i>>>Bảng giá vật tư chi tiết</i>
		<b>2- Bảng giá tháo lắp - Vệ sinh bảo trì:</b>
		<i>>>Bảng giá chi tiết về dịch vụ tháo lắp - vệ sinh bảo trì</i>
		<b>3 - Bảng giá sửa chữa:</b>
		<i>>>Bảng giá sữa chữa sản phẩm điện tử</i>
		<i>>>Bảng giá sữa chữa sản phẩm điện lạnh</i>
		<i>>>Bảng giá sữa chữa sản phẩm gia dụng</i>
		<b>Mọi thắc mắc vui lòng liên hệ</b>
		<p>Trung tâm Bảo hành – Hệ thống điện máy và nội thất Thiên Hòa.</p>
		<p>Đ/C: Lầu 7, 277B Cách Mạng Tháng Tám, Phường 12, Quận 10, Tp.Hồ Chí Minh</p>
		<p>Hotline: 1900 1829 (nhánh 2)</p>
	</div>
</div>