<div class="Contact contact">
	<h3 class="title-content">Liên hệ, góp ý</h3>
	<div class="wrap-img">
		<img src="assets/images/banner/banner-contact.png" alt="">
	</div>
	<div class="block">
		<h3 class="title-content title_">liên hệ và góp ý cho điện máy và nội thất thiên hòa</h3>
		<textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Nhập nội dung góp ý của bạn"></textarea>
	</div>
	
	<div class="block information-contactor">
		<h3 class="title-block">Thông tin liên hệ người góp ý</h3>
		<div class="form-group">
			<div class="col-md-6 no-padding-left">
				<label for="">Họ và tên: </label>
				<div class="wrap-input">
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="col-md-2 no-padding">
				<div class="wrap-select">
					<select name="" id="" class="form-control">
						<option value="">Anh</option>
						<option value="">Chị</option>
					</select>
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-md-4 no-padding-right">
				<label for="">Điện thoại:</label>
				<div class="wrap-input">
					<input type="text" class="form-control">
				</div>
			</div>
		</div>
		<div class="form-group ">
			<div class="col-md-6 no-padding-left">
				<label for="">Email:</label>
				<div class="wrap-input">
					<input type="text" class="form-control">
				</div>
			</div>
			<div class="col-md-6 no-padding">
				<img src="assets/images/capchar.png" alt="">
			</div>
		</div>
	</div>
	<div class="block block-button text-center">
		<button class="btn btn-send" data-toggle="modal" data-target=".AddSuccessModal2">Gửi yêu cầu</button>
		<span class="note">(Các thông tin của quý khách được bảo mật, không spam)</span>
	</div>
</div>
