<main class="main-cart view-detail-order">
	<div class="container">
		<ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);" title>dienmaythienhoa.vn</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);" title>Danh sách đơn hàng</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);" title>Xem chi tiết đơn hàng</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);" title>Đơn hàng #123456789</a></li>
        </ol>
        <!-- end breadcrum -->
        <div class="content-cart-finish">
        	<label for="">Trạng thái đơn hàng: <b class="blue">Đơn hàng đang xử lý</b></label>
        	{% include "_block-cart-finish.html" %}
        </div>   	     
		<!-- start block banner bootom-->
        <section class="block-banner-bottom">
            <div class="row">
                <div class="col-md-5 padding1"><a href="javascript:void(0);" title="" target="_blank"><img src="assets/images/banner/banner-bottom.jpg" alt="" class="img-responsive"></a></div>
                <div class="col-md-7 padding2"><a href="javascript:void(0);" title="" target="_blank"><img src="assets/images/banner/banner-bottom1.jpg" alt="" class="img-responsive"></a></div>
            </div>
        </section>
        <!-- end block banner bottom-->
	</div>
</main>