<div class="Policy maintain-policy">
	<h3 class="title-content">Chính sách bảo hành và đổi trả</h3>
	<p>Nhằm chăm sóc và đảm bảo quyền lợi cho khách hàng, Thiên Hòa xin thông tin đến khách hàng chính sách đổi, trả hàng hóa khi mua sắm tại tất cả Hệ thống Trung tâm Điện máy - Nội thất Thiên Hòa như sau:</p>
	<div class="block">
		<h3 class="title-block">I. CHÍNH SÁCH DÙNG THỬ TRONG 07 NGÀY </h3>
		<p>Trong 7 ngày kể từ thời điểm  mua hàng, nếu Khách hàng không hài lòng bất cứ điều  gì về sản phẩm  thì Thiên Hòa sẽ đổi hoặc thu hồi và hoàn trả tiền cho khách hàng.</p>
		<p>Không áp dụng chính sách sử dụng thử “7 ngày” đối với tất cả máy lạnh & những sản phẩm điện thoại di động thương hiệu (Samsung, Iphone). Những sản phẩm điện thoại di động chỉ áp dụng chính sách đổi trả theo quy định đổi trả của nhà sản xuất ban hành và áp dụng.</p>
		<p>Đối với trường hợp sản phẩm bị lỗi kỹ thuật từ nhà sản xuất, Thiên Hòa sẽ áp dụng chính sách 1 đổi 1 trong vòng 30 ngày. (Nếu khách hàng có nhu cầu).</p>
		<h3 class="title-block">II. ĐIỀU KIỆN ĐỔI - TRẢ HÀNG:</h3>
		<p>Sản phẩm phải được phân phối bởi hệ thống trung tâm mua sắm Thiên Hòa</p>
		<p>Sản phẩm còn nguyên thùng (hộp) kèm theo hóa đơn mua hàng, phiếu bảo hành (nếu có) và đầy đủ phụ kiện đi kèm của sản phẩm, không bị trầy xước, móp méo, hư hỏng do tác động bên ngoài. Nếu trường hợp ngoài điều kiện trên thì sẽ trừ phí theo qui định hiện hành dựa vào Biên bản đánh giá sản phẩm.</p>
		<p>Tên, số serial/imei phải trừng khớp với thông tin ghi trên hóa đơn/phiếu mua hàng</p>
		<p>Quà tặng khuyến mãi (nếu có). Trường hợp khách bị mất/ hư hỏng/đã sử dụng sẽ khấu trừ theo giá bán tại Thiên Hòa vào sản phẩm đổi – trả.</p>
		<p>Nếu khách hàng đổi sản phẩm khác thì sản phẩm chọn đổi mới có giá trị tương đương hoặc cao hơn so với sản phẩm hiện tại cần đổi.</p>
		<h3 class="title-block">III. CHÍNH SÁCH ĐỔI TRẢ HÀNG ĐỐI VỚI TRƯỜNG HỢP MUA TRẢ GÓP</h3>
		<p>- Trả hàng: Khi mua hàng nếu khách hàng có nhu cầu TRẢ HÀNG chỉ được phép trả trong 07 ngày, qua 07 ngày khách hàng phải thanh lý hợp đồng và c hi trả chi phí theo từng công ty trả góp</p>
		<p>- Trường hợp khách hàng trả góp qua công ty tài chính:</p>
		<p>a. Trong 14 ngày đầu tiên: Không mất phí hủy hợp đồng</p>
		<p>b. Sau 14 ngày: </p>
		<p>ACS</p>
		<p>Home Credit</p>
		<p>FE Credit</p>
		<p>HD Saison</p>
		<p>Mcredit</p>
		<p>- Giảm 50% lãi suất các tháng còn lại</p>
		<p>- 15% tính trên số tiền gốc còn lại</p>
		<p>- 5% tính trên số tiền gốc còn lại</p>
		<p>- 4 kỳ trả góp + 6.6% tính trên số tiền gốc Nếu 6.6% tiền lãi thấp hơn 240,000 vnd thì sẽ thu 240,000 vnd.</p>
		<p>(*) HD Saison sẽ làm việc từng trường hợp cụ thể với khách hàng theo quy định của HD Saison</p>
		<p>- Không áp dụng chính sách trả sản phẩm. Chỉ hỗ trợ chính sách đổi sản phẩm với giá trị tương đương hoặc cao hơn</p>
		<p>(*) Mcredit sẽ làm việc từng trường hợp cụ thể với khách hàng theo quy định của Mcredit</p>
		<p>- Trường hợp khách hàng trả góp qua thẻ ngân hàng: Thiên Hòa sẽ thực hiện hoàn trả giao dịch cho khách hàng trong vòng 30 ngày theo đúng quy định của ngân hàng.</p>
		<p> Lưu ý: Trong trường hợp khách hàng không đáp ứng được điều kiện trên thì Thiên Hòa sẽ căn cứ trên tình trạng thực tế và áp dụng mức thu phí theo quy định ban hành.</p>
		<p>Chính sách đổi trả, bảo hành cụ thể cho từng nhóm hàng như sau:</p>
		<p>1. Sản phẩm mới: Điện tử - Điện lạnh - Điện gia dụng.</p>
		<p>Chính sách đổi trả nhóm hàng Điện tử, Điện lạnh, Điện gia dụng</p>
		<p>Chính sách đổi trả nhóm hàng Công nghệ - Viễn thông, Kỹ thuật số, Thiết bị văn phòng</p>
		<p>2. Sản phẩm mới: Linh kiện - Phụ Kiện</p>
		<p>Chính sách đổi trả nhóm hàng linh kiện, phụ kiện</p>
		<p>3. Đối với sản phẩm đã qua sử dụng</p>
		<p>Chính sách đổi trả: Không áp dụng chính sách đổi /trả</p>
		<p>Bảo hành: Bảo hành theo thời gian còn lại của bảo hành hãng nhưng tối thiểu từ 3 tháng trở lên hoặc bảo hành theo chính sách bảo hành của Thiên Hòa (nếu có).</p>
		<p>4. Hàng trưng bày</p>
		<p>Chính sách đổi trả đối với hàng trưng bày</p>
		<h3 class="title-block">IV. NHỮNG SẢN PHẨM KHÔNG ÁP DỤNG CHÍNH SÁCH SỬ DỤNG THỦ & ĐỔI TRẢ.</h3>
		<p>- Điện gia dụng: Vỉ nướng, Bình lưỡng tính, Bình thủy điện, Máy sinh tố, Máy xay đậu nành Bộ nồi, Nồi lẻ, Chảo, Dụng cụ gia đình , dồ dùng thủy tinh, gốm, sứ, nhựa (Duy Tân); Dụng cụ nhà bếp (dao, thớt, muỗng, nĩa), Thang nhôm, Xe đạp, Sản phẩm Baby Care, Ghế massage</p>
		<p>- Điện lạnh: Máy nước nóng gián tiếp, Máy lọc nước, Tủ đông.</p>
		<p>- Công nghệ thông tin – TBVP - KTS : Máy fax, Máy in.</p>
		<h3 class="title-block">V. QUY ĐỊNH VỀ HOÀN TIỀN KHI THANH TOÁN TRỰC TUYẾN </h3>
		<p>- Trong trường hợp quý khách hàng đã mua hàng & thanh toán trực tuyến thành công nhưng đổi hoặc trả sản phẩm, Thiên Hòa sẽ hoàn tiền vào thẻ quý khách đã dùng để thanh toán, theo thời hạn như sau:</p>
		<p>- Đối với thẻ ATM: Thời gian khách hàng nhận được tiền hoàn từ 7-10 ngày (trừ thứ 7, chủ nhật và ngày lễ.) Nếu qua thời gian trên không nhận được tiền, Thiên Hòa sẽ hỗ trợ liên hệ ngân hàng của khách hàng để giải quyết.</p>
		<p>- Đối với thẻ Visa/Master card: Thời gian Khách hàng nhận được tiền hoàn 30-45 ngày. Nếu qua thời gian trên khách hàng không nhận được tiền, khách hàng liên hệ trực tiếp ngân hàng để giải quyết.</p>
		<p><b>Mọi thắc mắc vui lòng liên hệ</b></p>
		<p>Trung tâm Bảo hành – Hệ thống điện máy và nội thất Thiên Hòa.</p>
		<p>Đ/C: Lầu 7, 277B Cách Mạng Tháng Tám, Phường 12, Quận 10, Tp.Hồ Chí Minh</p>
		<p>Hotline: 1900 1829</p>
		<p>Xem thêm: <a href="javascript:void(0);" class="link">Danh sách trung tâm bảo hành Thiên Hòa</a></p>
	</div>
</div>