<div class="InformationApplier information-appier">	
	<div class="information">
		<ul class="title-content">
	        <li>Tuyển dụng</li>
	        <li>Hồ sơ ứng viên</li>
	    </ul>
	    <div class="block block-img">
	    	<div class="col-md-9 no-padding-left">
	    		<h4 class="sub-title">1. Thông tin ứng viên</h4>
	    		<div class="form-group">
	    			<div class="col-md-3 text-right no-padding-left"><label for="">Vị trí ứng tuyển:</label></div>
	    			<div class="col-md-8">
	    				<div class="row">
	    					<div class="width_almost">
	    						<div class="wrap-select">
									<select name="" id="" class="form-control">
										<option value="">Chọn vị trí ứng tuyển</option>
										<option value="">Chăm sóc khách hàng</option>
										<option value="">Kế toán</option>
										<option value="">Bán thời gian, sinh viên</option>
										<option value="">Các bộ phận hỗ trợ khác</option>
										<option value="">Giao hàng lắp đặt</option>
										<option value="">Công nghệ thông tin</option>
										<option value="">Nhân viên siêu thị</option>
									</select>
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</div>
								<label for="" class="error">Chọn vị trí ứng tuyển</label>
	    					</div>
							<span class="color">*</span>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="form-group">
	    			<div class="col-md-3 text-right no-padding-left"><label for="">Nguyện vọng làm tại:</label></div>
	    			<div class="col-md-8 address">
	    				<div class="row">
	    					<div class="width_almost">
	    						<div class="wrap-select bootstrap-multi-select-box">
			    					<select class="form-control data-product selectpicker" multiple data-actions-box="true" data-live-search="true" title="Chọn Tỉnh/ Thành phố">
			                            <option>Hồ Chí Minh</option>
			                            <option>Bình Dương</option>
			                            <option>Nghệ an</option>
			                            <option>Đà Nẵng</option>
			                            <option>Hồ chí minh</option>
			                            <option>Hà nội</option>
			                            <option>Nghệ an</option>
			                            <option>Đà Nẵng</option>
			                            <option>Hồ chí minh</option>
			                            <option>Hà nội</option>
			                            <option>Nghệ an</option>
			                            <option>Đà Nẵng</option>
			                            <option>Hồ chí minh</option>
			                            <option>Hà nội</option>
			                            <option>Nghệ an</option>
			                            <option>Đà Nẵng</option>
			                            <option>Hồ chí minh</option>
			                            <option>Hà nội</option>
			                            <option>Nghệ an</option>
			                            <option>Đà Nẵng</option>
			                        </select>
			    					<i class="fa fa-angle-down" aria-hidden="true"></i>
			    				</div>
	    					</div>
							<span class="color">*</span>
	    				</div>
	    				<div class="row">
	    					<div class="width_almost">
	    						<div class="wrap-select">
									<select name="" id="" class="form-control">
										<option value="">Chọn Quận/ Huyện</option>
										<option value="">Quận 1</option>
										<option value="">Quận 2</option>
										<option value="">Quận 3</option>
									</select>
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</div>
	    					</div>
							<span class="color">*</span>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="col-md-3 no-padding-right text-center">
	    		<div class="wrap-img">
	    			<img id="blah" src="assets/images/account-img.png" alt="account">
	    		</div>
	    		<span>Chọn ảnh từ máy tính</span>
	    		<div class="file">Chọn file</div>
	    		<input type='file' onchange="readURL(this);" />
	    	</div>
	    </div>
	    <!-- end block -->
	    <div class="block block-personal">
	    	<h4 class="sub-title">2. Thông tin cá nhân</h4>
	    	<div class="content">
				<div class="form-group">
					<div class="col-md-7 no-padding-left">
						<div class="col-md-3 no-padding-left">
							<label for="">Họ tên ứng viên:</label>
						</div>
						<div class="col-md-9 no-padding">
							<div class="row">
								<div class="width_almost">
									<input type="text" class="form-control" placeholder="Vui lòng viết hoa, có dấu">
									<label for="" class="error">Nhập họ tên ứng viên</label>
								</div>
								<span class="color">*</span>
							</div>
						</div>
					</div>
					<div class="col-md-5 no-padding">
						<div class="col-md-3"><label for="">Giới tính:</label></div>
						<div class="col-md-9 radio-btn">
							<input type="radio" name="gender" id="male" checked><label for="male">Nam</label>
							<input type="radio" name="gender" id="female"><label for="female">Nữ</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-7 no-padding-left">
						<div class="col-md-3 no-padding-left">
							<label for="">Ngày sinh:</label>
						</div>
						<div class="col-md-9 no-padding">
							<div class="row row-datetime">
								<div class="width_almost">
									<div class="wrap-select">
										<select name="" id="" class="form-control">
											<option value="">Ngày</option>
											<option value="">1</option>
											<option value="">2</option>
											<option value="">3</option>
										</select>
										<i class="fa fa-angle-down" aria-hidden="true"></i>
									</div>
									<div class="wrap-select">
										<select name="" id="" class="form-control">
											<option value="">Tháng</option>
											<option value="">1</option>
											<option value="">2</option>
											<option value="">3</option>
										</select>
										<i class="fa fa-angle-down" aria-hidden="true"></i>
									</div>
									<div class="wrap-select">
										<select name="" id="" class="form-control">
											<option value="">Năm</option>
											<option value="">2011</option>
											<option value="">2012</option>
											<option value="">2013</option>
										</select>
										<i class="fa fa-angle-down" aria-hidden="true"></i>
									</div>
								</div>								
								<span class="color">*</span>
							</div>
						</div>
					</div>
					<div class="col-md-5 no-padding">
						<div class="col-md-3"><label for="">Nơi sinh:</label></div>
						<div class="col-md-9 no-padding-right">
							<div class="wrap-select">
								<select name="" id="" class="form-control">
									<option value="">Chọn nơi sinh</option>
									<option value="">TP HCM</option>
									<option value="">Bình Dương</option>
									<option value="">HN</option>
								</select>
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-7 no-padding-left">
						<div class="col-md-3 no-padding-left">
							<label for="">CMND:</label>
						</div>
						<div class="col-md-9 no-padding">
							<div class="row">
								<div class="width_almost">
									<input type="text" class="form-control" placeholder="Vui lòng nhập chính xác">
									<label for="" class="error">Vui lòng nhập chính xác CMND</label>
								</div>								
								<span class="color">*</span>
							</div>
						</div>
					</div>
					<div class="col-md-5 no-padding">
						<div class="col-md-3 text-center"><label for="">Tình trạng hôn nhân:</label></div>
						<div class="col-md-9 radio-btn">
							<input type="radio" name="marrie" id="single" checked><label for="single">Độc thân</label>
							<input type="radio" name="marrie" id="married"><label for="married">Đã kết hôn</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-7 no-padding-left">
						<div class="col-md-3 no-padding-left">
							<label for="">Địa chỉ:</label>
						</div>
						<div class="col-md-9 no-padding address">
							<div class="row">
								<div class="width_almost">
									<input type="text" class="form-control" placeholder="Vd: 123, Nguyễn Chí Thanh, Phường 12">
								</div>		
								<span class="color">*</span>
							</div>
							<div class="row">
								<div class="width_almost">
									<div class="col-md-6 no-padding-left">
										<div class="wrap-select">
											<select name="" id="" class="form-control">
												<option value="">Chọn Tỉnh/ Thành phố</option>
												<option value="">TP HCM</option>
												<option value="">Hà Nội</option>
												<option value="">Bình Dương</option>
											</select>
											<i class="fa fa-angle-down" aria-hidden="true"></i>
										</div>
									</div>
									<div class="col-md-6 no-padding">
										<div class="wrap-select">
											<select name="" id="" class="form-control">
												<option value="">Chọn Quận/ Huyện</option>
												<option value="">Quận 1</option>
												<option value="">Quận 2</option>
												<option value="">Quận 3</option>
											</select>
											<i class="fa fa-angle-down" aria-hidden="true"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 no-padding note-right">
						<span class="note text-center">(Nơi bạn sinh sống để công ty sắp xếp nơi làm việc phù hợp)</span>
						<div class="form-group">
							<div class="col-md-3 no-padding text-center"><label for="">Điện thoại:</label></div>
							<div class="col-md-9 no-padding-right">
								<input type="text" class="form-control" placeholder="Vd: 0167.000.97654">
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-7 no-padding-left">
						<div class="col-md-3 no-padding-left">
							<label for="">Địa chỉ Email:</label>
						</div>
						<div class="col-md-9 no-padding">
							<div class="row">
								<div class="width_almost">
									<input type="text" class="form-control" placeholder="Vui lòng nhập địa chỉ email">
									<label for="" class="error">Vui lòng nhập địa chỉ email</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 no-padding">
						<div class="col-md-3 no-padding text-center"><label for="">Chiều cao/ Cân nặng:</label></div>
						<div class="col-md-9 weight-height no-padding-right">
							<input type="text" class="form-control" placeholder="Chiều cao">
							<span>-</span>
							<input type="text" class="form-control" placeholder="Cân nặng">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-7 no-padding-left">
						<div class="col-md-3 no-padding-left text-left">
							<label for="">Thu nhập mong muốn:</label>
						</div>
						<div class="col-md-9 no-padding">
							<div class="row">
								<div class="width_almost">
									<input type="text" class="form-control" placeholder="Vui lòng nhập thu nhập mong muốn">
									<label for="" class="error">Vui lòng nhập thu nhập mong muốn</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="">Lý do bạn ứng tuyển vị trí này:</label>
					<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
				</div>
	    	</div>
	    </div>
	    <!-- end block -->
	    <div class="block">
	    	<h4 class="sub-title">3. Trình độ học vấn</h4>
	    	<div class="form-group">
	    		<div class="col-md-4 no-padding-left">
	    			<div class="col-md-2 no-padding"><label for="">Trường:</label></div>
	    			<div class="col-md-10"><input type="text" class="form-control" placeholder="Trường"></div>
	    		</div>
	    		<div class="col-md-4">
	    			<div class="col-md-2 no-padding"><label for="">Ngành:</label></div>
	    			<div class="col-md-10"><input type="text" class="form-control" placeholder="Chuyên ngành"></div>
	    		</div>
	    		<div class="col-md-4 no-padding-right">
	    			<div class="col-md-2"><label for="">Hệ:</label></div>
	    			<div class="col-md-10 no-padding-right">
	    				<div class="wrap-select">
							<select name="" id="" class="form-control">
								<option value="">Chọn hệ đào tạo</option>
								<option value="">Chính quy</option>
								<option value="">Liên thông</option>
							</select>
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="form-group width_different">
	    		<div class="col-md-3 no-padding"><label for="">Chứng chỉ khác <span class="note">(Nếu có):</span></label></div>
	    		<div class="col-md-9 no-padding-right">
	    			<input type="text" class="form-control" placeholder="Vd: Anh văn Toeic 500; Tin học B ...vv">
	    		</div>
	    	</div>
	    </div>
	    <!-- end block -->
	    <div class="block">
	    	<h4 class="sub-title">4. Qúa trình làm việc</h4>
	    	<div class="wrap-content">
	    		<div class="content">
		    		<div class="form-group">
		    			<div class="col-md-7 no-padding-left">
		    				<div class="col-md-2 no-padding"><label for="">Tên công ty:</label></div>
		    				<div class="col-md-10 no-padding-right">
								<input type="text" class="form-control" placeholder="Nhập tên công ty">
		    				</div>
		    			</div>
		    			<div class="col-md-5 no-padding-right">
		    				<div class="col-md-2 no-padding text-right"><label for="">Vị trí:</label></div>
		    				<div class="col-md-10 no-padding-right">
								<input type="text" class="form-control" placeholder="Chuyên ngành">
		    				</div>
		    			</div>
		    		</div>
		    		<div class="form-group">
		    			<div class="col-md-2 no-padding">
		    				<label for="">Mô tả chi tiết công việc:</label>
		    			</div>
		    			<div class="col-md-10 no-padding-right detail-descript">
		    				<textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="công việc cụ thể"></textarea>
		    				<input type="text" class="form-control" placeholder="Thời gian làm việc">
		    				<input type="text" class="form-control" placeholder="Nguyên nhân nghỉ việc">
		    			</div>
		    		</div>
		    		<div class="form-group">
		    			<div class="col-md-2 no-padding">
		    				<label for="">Người tham khảo:</label>
		    			</div>
		    			<div class="col-md-10 no-padding-right">
		    				<div class="col-md-4 no-padding">
		    					<input type="text" class="form-control" placeholder="Họ tên">
		    				</div>
		    				<div class="col-md-4 no-padding-right">
		    					<input type="text" class="form-control" placeholder="Chức vụ">
		    				</div>
		    				<div class="col-md-4 no-padding-right">
		    					<input type="text" class="form-control" placeholder="Số điện thoại">
		    				</div>
		    			</div>
		    		</div>	    		
		    	</div>
		    	<div class="content content1 " style="display: none;">
		    		<div class="form-group">
		    			<div class="col-md-7 no-padding-left">
		    				<div class="col-md-2 no-padding"><label for="">Tên công ty:</label></div>
		    				<div class="col-md-10 no-padding-right">
								<input type="text" class="form-control" placeholder="Nhập tên công ty">
		    				</div>
		    			</div>
		    			<div class="col-md-5 no-padding-right">
		    				<div class="col-md-2 no-padding text-right"><label for="">Vị trí:</label></div>
		    				<div class="col-md-10 no-padding-right">
								<input type="text" class="form-control" placeholder="Chuyên ngành">
		    				</div>
		    			</div>
		    		</div>
		    		<div class="form-group">
		    			<div class="col-md-2 no-padding">
		    				<label for="">Mô tả chi tiết công việc:</label>
		    			</div>
		    			<div class="col-md-10 no-padding-right detail-descript">
		    				<textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="công việc cụ thể"></textarea>
		    				<input type="text" class="form-control" placeholder="Thời gian làm việc">
		    				<input type="text" class="form-control" placeholder="Nguyên nhân nghỉ việc">
		    			</div>
		    		</div>
		    		<div class="form-group">
		    			<div class="col-md-2 no-padding">
		    				<label for="">Người tham khảo:</label>
		    			</div>
		    			<div class="col-md-10 no-padding-right">
		    				<div class="col-md-4 no-padding">
		    					<input type="text" class="form-control" placeholder="Họ tên">
		    				</div>
		    				<div class="col-md-4 no-padding-right">
		    					<input type="text" class="form-control" placeholder="Chức vụ">
		    				</div>
		    				<div class="col-md-4 no-padding-right">
		    					<input type="text" class="form-control" placeholder="Số điện thoại">
		    				</div>
		    			</div>
		    		</div>	    		
		    	</div>
	    	</div>	    	
	    	<div class="text-right plus-content"><a href="javascript:void(0);" class="link"><i class="fa fa-plus-circle" aria-hidden="true"></i>Thêm nơi làm việc</a></div>
	    </div>
	    <!-- end block -->
	    <div class="block row-capchar">
	    	<h4 class="sub-title">5. Hoàn tất hồ sơ <span class="note">(file .doc hoặc file .pdf)</span></h4>
	    	<div class="row">
	    		<label for="">Đính kèm hồ sơ cá nhân <span class="note">file .doc hoặc file .pdf</span>: </label>
	    		<ul class="wrap_btn">
	                <li>
	                    <a href="#" class="btn-loadfile" style="background: rgb(255, 255, 255); color: rgb(70, 70, 70);">
	                        <i class="icon-browser">&nbsp;</i>
	                        <span>Browse ...</span>
	                        <input type="file" name="newfile">
	                    </a>
	                </li>
	            </ul>
	            <div class="show_file">
	                <span class="file_name"></span>
	            </div>
	    	</div>
	    	<div class="row">
	    		<label for="">Bạn cam kết những thong trên là sự thật, nhập mã bảo mật để gửi hồ sơ:</label>
	    		<img src="assets/images/capchar.png" alt="">
	    	</div>
	    </div>
	    <!-- end block -->
	    <div class="button-show text-center">
	    	<button class="btn btn_cancel">Hủy</button>
	    	<button class="btn btn-send" data-toggle="modal" data-target=".AddSuccessModal">Gửi hồ sơ</button>
	    </div>
	</div>	
</div>