<table class="table tb-cart">
    <tbody>                    
        <tr class="show-item">
        	<td colspan="4" class="first-row">
        		<table>
        			<tbody>
        				<tr class="title-tb">
	                        <td style="padding-left: 15px;">SẢN PHẨM</td>
	                        <td class="right">SỐ LƯỢNG</td>
	                        <td class="right">GIÁ Bán</td>
	                        <td class="right">Tổng TIỀN</td>
	                    </tr>
    					<tr>
	                        <td class="product">
	                            <div class="wrap-img">
	                                <img src="assets/images/upload/img-cart.png" alt="">
	                            </div>
	                            <div class="descript">
	                                <a href="#" class="title" title="">Smart Tivi Samsung 55 Inch UA55MU6100 KXXV LED 4K</a>
	                            </div>
	                            <div class="gift">
	                            	<label for="">Sản phẩm khuyến mãi:</label>
	                            	<div class="ip">
	                            		<label for="gift1">Bàn ủi hơi nước Electrolux ESI5116</label> 
	                            	</div>
	                            	<label for="">Màu sản phẩm: </label>
	                        		<span>Cam</span>
	                            </div>
	                        </td>
	                        <td class="no-product right">
	                            <div class="number-cart">1</div>
	                        </td>
	                        <td class="right">
	                            <span class="color price">15.500.000đ</span>
	                        </td>
	                        <td class="right"><span class="color price">15.500.000đ</span></td>
	                    </tr>
	                    <tr>
	                        <td class="product">
	                            <div class="wrap-img">
	                                <img src="assets/images/upload/img-cart.png" alt="">
	                            </div>
	                            <div class="descript">
	                                <a href="#" class="title" title="">Smart Tivi Samsung 55 Inch UA55MU6100 KXXV LED 4K</a>
	                            </div>
	                            <div class="gift">
	                            	<label for="">Sản phẩm khuyến mãi:</label>
	                            	<div class="ip">
	                            		<label for="gift1">Bàn ủi hơi nước Electrolux ESI5116</label> 
	                            	</div>
	                            	<label for="">Màu sản phẩm: </label>
	                        		<span>Cam</span>
	                            </div>
	                        </td>
	                        <td class="no-product right">
	                            <div class="number-cart">1</div>
	                        </td>
	                        <td class="right">
	                            <span class="color price">15.500.000đ</span>
	                        </td>
	                        <td class="right"><span class="color price">15.500.000đ</span></td>
	                    </tr>
        			</tbody>
        		</table>
        	</td>
        </tr>
        <tr class="show-item">
        	<td colspan="4">
        		<h2 class="title-cart">Thông tin đơn hàng</h2>
        		<div class="row">
        			<label for="">Hình thức thanh toán:</label>
        			<div class="detail">Nhận hàng và thanh toán tại siêu thị</div>
        		</div>
        		<div class="row">
        			<label for="">Siêu thị nhận hàng:</label>
        			<div class="detail">
        				<p>Trung tâm Thiên Hòa Quận 10</p>
        				<p>Địa chỉ: Số 277B Cách Mạng Tháng Tám Phường 12, Quận 10, Tp HCM</p>
        			</div>
        		</div>
        		<div class="row">
        			<label for="">Xuất hóa đơn:</label>
        			<div class="detail">
        				<p>Công ty TNHH ABC</p>
        				<p>Địa chỉ: 123 , Đường Nguyễn Đình Chiểu, Phường 6, Quận 3, Thành Phố Hồ Chí Minh</p>
        				<p>Mã số thuế: 084602156314</p>
        			</div>
        		</div>
        	</td>
        </tr>
        <tr class="show-item">
        	<td colspan="4">
        		<h2 class="title-cart">Tổng giá trị đơn hàng</h2>
        		<strong for="">Tổng tiền mua sản phẩm: <span class="pull-right color">31.000.000đ</span></strong>
        		<strong for="">Phí vận chuyển: <span class="pull-right color">50.000đ</span></strong>
        		<strong for="">Mã giảm giá: <span class="pull-right blue">MGHB15831X1</span></strong>
        		<strong for="">Tổng giá trị đơn hàng: <span class="pull-right color">30.350.000đ</span></strong>
        	</td>
        </tr>
    </tbody>
</table>