<div class="MaintainCenter maintain_center">
	<h3 class="title-content">Trung tâm bảo hành</h3>
	<div class="block">
		<p>Sản phẩm của khách hàng sau khi gửi bảo hành - sửa chữa nhưng không đến nhận lại  Thiên Hòa sẽ giải quyết thanh lý nhằm giải phóng kho.</p>
		<p>Đối với trường hợp Khách hàng xác nhận bỏ sản phẩm (không lấy sản phẩm sau khi bảo hành). TTBH Điện máy Thiên Hòa sẽ thanh lý sản phẩm quý khách hàng đã xác định bỏ ( không lấy). Sau 60 ngày tính từ ngày trên biên nhận bảo hành- sửa chữa. </p>
		<p>Đối với trường hợp không liên hệ được hoặc  đã liên lạc nhưng quý khách vẫn không đến nhận lại ( không lấy sp )  liên lạc 3 lần . thì sau 6 tháng lưu kho.  Thiên Hòa sẽ tập hợp thanh lý  và không chịu trách nhiệm giải quyết khiếu nại về sau.</p>
		<p>Chân thành cảm ơn sự hổ trợ và hợp tác của quý khách hàng trong thời gian qua.</p>
		<a href="javascript:void(0);" class="link">Xem thêm chính sách bảo hành và đổi trả >></a>
		<div class="block_search">
			<div class="maintain-center">
				<h3 class="title-block">Trung tâm bảo hành</h3>
				<div class="row">
					<label for="">Chọn thương hiệu</label>
					<input type="text" class="form-control">
					<div class="wrap-select">
						<select name="" id="" class="form-control">
							<option value="">Chọn Tỉnh/ Thành phố</option>
							<option value="">Tp Hồ Chí Minh</option>
							<option value="">Hà Nội</option>
							<option value="">Đà Nẵng</option>
						</select>
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</div>					
					<div class="wrap-select">
						<select name="" id="" class="form-control">
							<option value="">Chọn Quận/ Huyện</option>
							<option value="">Quận 1</option>
							<option value="">Quận 2</option>
							<option value="">Quận 3</option>
						</select>
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</div>					
					<button class="btn btn-second">Tìm</button>
				</div>
				<div class="table-center">
					<h3 class="title-table text-center">8 trung tâm bảo hành <span class="blue">Samsung</span> tại thành phố hồ chí minh</h3>
					<table class="table-striped">
						<tbody>
							<tr class="thead">
								<th class="text-center">STT</th>
								<th class="place">
									<div class="wrap-select">
										<select name="" id="" class="form-control">
											<option value="">Tp. Hồ Chí Minh</option>
											<option value="">Tp Hồ Chí Minh</option>
											<option value="">Hà Nội</option>
											<option value="">Đà Nẵng</option>
										</select>
										<i class="fa fa-angle-down" aria-hidden="true"></i>
									</div>
								</th>
								<th class="product">Sản phẩm nhận bảo hành</th>
								<th class="text-center">Điện thoại/ fax</th>
							</tr>
							{% for x in [1,2,3,4,5,6,7,8] %}
							<tr>
								<td class="text-center">1</td>
								<td class="place">571 Huỳnh Tấn Phát, Phường Tân Thuận Đông, Quận 7, Tp HCM</td>
								<td class="product">Smart Watch, Tivi, Máy lạnh, máy giặt, dàn máy, tủ lạnh, lò vi sóng, quạt.</td>
								<td class="text-center">028.4567.9542</td>
							</tr>
							{% endfor %} 
						</tbody>
					</table>
				</div>				
			</div>			
			<div class="search-action">
				<label for="">Tra cứu thông tin bảo hành</label>
				<div class="row">
					<input type="radio" name="tracuu" value="" checked="" id="tracuu1"> <label for="tracuu1">Tra cứu theo số điện thoại mua hàng</label>
					<input type="radio" name="tracuu" value="" id="tracuu2"> <label for="tracuu2">Tra cứu theo mã IME</label>
				</div>
			</div>
			<div class="check-phone text-center">
				<div class="row text-center">
					<input type="text" placeholder="Nhập số điện thoại/ Mã IME để tra cứu" class="form-control">
					<button class="btn btn-second">Kiểm tra</button>
				</div>
				<div class="infor-product ">
					<h3 class="title">Thông tin sản phẩm bảo hành</h3>
					<div class="detail">
						<h3>điện thoại SAMSUNG GALAXY S8 (SM-G950FZBDXXV) XANH</h3>
						<p>Màn hình: Quad HD, 5.8", 1440 x 2960 pixels</p>
						<p> CPU: Exynos 8895 8 nhân 64-bit</p>
						<p>Hệ điều hành: Android 7.0</p>
						<p> Camera chính: 12 MP, Camera trước: 8MP</p>
						<p>Bộ nhớ trong: 64 GB - RAM 4GB</p>
						<p>Hai sim:  Nano SIM</p>
						<p> Dung lượng pin: 3000 mAh</p>
					</div>
				</div>
				<p>Tổng đài hỗ trợ bảo hành: <b>19001829</b> - nhấn phím <b>2</b>, <b>8h - 22h</b>, Thứ 2- Chủ nhật</p>
			</div>			
		</div>		
	</div>
</div>