<div id="collapseExample">
    <div class="container">
        <div class="wrap-slider clearfix">
            <div class="slider">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item"> <a href="javascript:void(0);" title="" data-id="0">Tivi</a></div>
                    <div class="item"> <a href="javascript:void(0);" title="" data-id="1">Tủ lạnh</a></div>
                    <div class="item"> <a href="javascript:void(0);" title="" data-id="2">Máy lạnh</a></div>
                    <div class="item"> <a href="javascript:void(0);" title="" data-id="3">Máy giặt</a></div>
                    <div class="item"> <a href="javascript:void(0);" title="" data-id="4">Tủ đông</a></div>
                    <div class="item"> <a href="javascript:void(0);" title="" data-id="5">Tủ mát</a></div>
                    <div class="item"> <a href="javascript:void(0);" title="" data-id="6">Tiện nghi</a></div>
                    <div class="item"> <a href="javascript:void(0);" title="" data-id="7">Âm thanh</a></div>
                    <div class="item"> <a href="javascript:void(0);" title="" data-id="8">Điện thoại & Tablet</a></div>
                    <div class="item"> <a href="javascript:void(0);" title="" data-id="9">Thiết bị Nghe nhìn</a></div>
                    <div class="item"> <a href="javascript:void(0);" title="" data-id="10">Thực Phẩm (Focus Bánh)</a></div>
                    <div class="item"> <a href="javascript:void(0);" title="" data-id="11">Sức Khỏe & Làm Đẹp</a></div>
                    <div class="item"> <a href="javascript:void(0);" title="" data-id="12">Thời Trang</a></div>
                    <div class="item"> <a href="javascript:void(0);" title="" data-id="13">eBook</a></div>
                </div>
            </div>
            <div class="next-pre">
                <div class="customNavigation"><a href="javascript:void(0);" title="" class="btn prev"><span class="fa fa-angle-left"></span></a><a href="javascript:void(0);" title="" class="btn next"><span class="fa fa-angle-right"></span></a></div>
            </div>
        </div>
        <div class="menu-content">
            <div class="sub-content">
                <div class="row">
                    <div class="col-md-3">
                        <h4>Ngành hàng Tã - sửa</h4>
                        <ul>
                            <li><a href="javascript:void(0);" title=""><span class="text"> Tã<i>(1.236)</i></span></a></li>
                            <li><a href="javascript:void(0);" title=""><span class="text"> Sữa<i>(1.236)</i></span></a></li>
                            <li class="dropdown">
                                <button type="button" id="menu1" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="text">Sản phẩm khác <i>(1378)</i></span><span class="fa fa-angle-right"></span></button>
                                <ul role="menu" aria-labelledby="menu1" class="dropdown-menu">
                                    <li role="presentation"><a href="javascript:void(0);" title=""><span class="text"> Áo em bé<i>(1.236)</i></span></a></li>
                                    <li role="presentation"><a href="javascript:void(0);" title=""><span class="text"> Áo em bé<i>(1.236)</i></span></a></li>
                                    <li role="presentation"><a href="javascript:void(0);" title=""><span class="text"> Áo em bé<i>(1.236)</i></span></a></li>
                                    <li role="presentation"><a href="javascript:void(0);" title=""><span class="text"> Áo em bé<i>(1.236)</i></span></a></li>
                                    <li role="presentation"><a href="javascript:void(0);" title=""><span class="text"> Áo em bé<i>(1.236)</i></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Xu hướng tìm kiếm</h4>
                        <ul>
                            <li><a href="javascript:void(0);" title=""> Sữa công thức Similac</a></li>
                            <li><a href="javascript:void(0);" title="">Friso Gold 4</a></li>
                            <li><a href="javascript:void(0);" title="">Sữa dành cho bé thiếu tháng</a></li>
                            <li><a href="javascript:void(0);" title="">Tã dán Jumbo</a></li>
                            <li><a href="javascript:void(0);" title="">Bỉm Goo.N</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h4>Thương hiệu</h4>
                        <ul>
                            <li><a href="javascript:void(0);" title="">Meiji</a></li>
                            <li><a href="javascript:void(0);" title="">Glico - Icreo</a></li>
                            <li><a href="javascript:void(0);" title="">Pediasure</a></li>
                            <li><a href="javascript:void(0);" title="">Similac</a></li>
                            <li><a href="javascript:void(0);" title="">Grand Noble</a></li>
                            <li><a href="javascript:void(0);" title="">Enfa</a></li>
                            <li><a href="javascript:void(0);" title="">XO</a></li>
                            <li><a href="javascript:void(0);" title="">Friso</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Khuyến mại</h4><a href="javascript:void(0);" title="" class="link-img"><img src="images/upload/banner/banner-menu.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="sub-content">content 1</div>
            <div class="sub-content">content 2</div>
            <div class="sub-content">content 3</div>
            <div class="sub-content">content 4</div>
            <div class="sub-content">content 5</div>
            <div class="sub-content">content 6</div>
            <div class="sub-content">content 7</div>
            <div class="sub-content">content 8</div>
            <div class="sub-content">content 9</div>
            <div class="sub-content">content 10</div>
            <div class="sub-content">content 11</div>
            <div class="sub-content">content 12</div>
            <div class="sub-content">content 13</div>
        </div>
    </div>
</div>