<!-- Modal -->
<div class="SuccessModal AddSuccessModal modal fade" role="dialog">
    <div class="modal-dialog">
    
        <div class="modal-content ">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="content">
                <i class="icon_success">&nbsp</i>
                <h2>Bạn đã ứng tuyển thành công!</h2>
                <button type="button" class="btn btn_next btn-primary" data-dismiss="modal">Tiếp tục</button>
            </div>
        </div>
      
    </div>
</div>
<!-- Modal 2-->
<div class="SuccessModal AddSuccessModal2  modal fade" role="dialog">
    <div class="modal-dialog">
    
        <div class="modal-content ">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="content">
                <i class="icon_success">&nbsp</i>
                <h2>Gửi yêu cầu thành công!</h2>
                <button type="button" class="btn btn_next btn-primary" data-dismiss="modal">Tiếp tục</button>
            </div>
        </div>
      
    </div>
</div>
<!-- Modal 3-->
<div class="SuccessModal AddSuccessModal3  modal fade" role="dialog">
    <div class="modal-dialog">
    
        <div class="modal-content ">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="content">
                <i class="icon_success">&nbsp</i>
                <h2>Đặt mua - Trả góp thành công!</h2>
                <button type="button" class="btn btn_next btn-primary" data-dismiss="modal">Tiếp tục</button>
            </div>
        </div>
      
    </div>
</div>

  